<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/join.css">
    <link rel="shortcut icon" href="images/parts/favicon.ico">
    <title><%= __('authorize_title') %></title>
</head>
<body>
    <span id="title"><%= __('authorize') %></span>
    <form action="<%= api %>/authorizeCheck" method="POST">
        <input type="password" name="secondaryPassword" placeholder="<%= __('pwPlaceholder') %>" id="password" class="textbox" pattern="^[0-9]*$" minlength="4" maxlength="6" required>
        <span id="pw"><%= __('pwText') %></span>
        <input type="submit" class="button" value="<%= __('done') %>">
    </form>
    <h5><a href="<%= url %>/logout" style="color: rgb(0, 135, 197); font-weight: 400;"><%= __('mainPage') %></a></h5>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/authorize.js"></script>
</body>
</html>