<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/join.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title><%= __('authorize_title') %></title>
</head>
<body>
    <span id="title"><%= __('authorize') %></span>
    <span id="failed"><%= __('authorizeFailed') %></span>
    <input type="password" name="secondaryPassword" placeholder="<%= __('pwPlaceholder') %>" id="password" class="textbox" pattern="^[0-9]*$" minlength="4" maxlength="6" required>
    <span id="pw"><%= __('pwText') %></span>
    <input type="submit" class="button" onclick="check()" value="<%= __('done') %>">
    <h5><a href="<%= url %>/logout" style="color: rgb(0, 135, 197); font-weight: 400;"><%= __('mainPage') %></a></h5>
    <script>
        const projectUrl = "<%= url %>";
        const api = "<%= api %>";
    </script>
    <script src="js/authorize.js"></script>
</body>
</html>