<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177236027-1');
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/join.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title><%= __('authorize_title') %></title>
</head>
<body>
    <span id="title"><%= __('authorize') %></span>
    <span id="failed"><%= __('authorizeFailed') %></span>
    <input type="password" name="secondaryPassword" placeholder="<%= __('pwPlaceholder') %>" id="password" class="textbox" pattern="^[0-9]*$" minlength="4" maxlength="6" required>
    <span id="pw"><%= __('pwText') %></span>
    <input type="submit" class="button" onclick="check()" value="<%= __('done') %>">
    <h5><a href="<%= api %>/auth/logout?redirect=true" style="color: rgb(0, 135, 197); font-weight: 400;"><%= __('mainPage') %></a></h5>
    <script>
        const projectUrl = "<%= url %>";
        const api = "<%= api %>";
    </script>
    <script src="js/authorize.js"></script>
</body>
</html>