<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editor</title>
  <link rel="stylesheet" href="css/editor.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <script src="js/pace.js"></script>
</head>
<body>
  <div id="initialScreenContainer" class="metropolis">
    <br><br>
    <h2>Editor</h2>
    <div id="initialButtonsContainer">
      <span id="gotoGame" class="backText clickable" onclick="window.location.href = '<%= url %>'"><img src="https://img.icons8.com/ios-filled/24/000000/back.png" class="backIcon"><%= __('goto_game') %></span>
      <span class="initialButtons clickable" onclick="newEditor()"><img src="https://img.icons8.com/ios/96/000000/edit.png" class="initialIcon clickable"><br>New</span>
      <span class="initialButtons clickable" onclick="loadEditor()"><img src="https://img.icons8.com/ios/96/000000/circled-right-2.png" class="initialIcon clickable"><br>Load</span>
    </div>
    <div id="songSelectionContainer">
      <div id="songSelection">
        <span id="gotoGame" class="backText clickable" onclick="gotoMain(true)"><img src="https://img.icons8.com/ios-filled/24/000000/back.png" class="backIcon"><%= __('cancel') %></span>
        <h2>Select Song</h2>
        <select id="songSelectBox" class="clickable">
        </select>
        <input type="button" class="initlalButtons" value="Select" onclick="songSelected()">
      </div>
    </div>
  </div>
  <div id="editorMainContainer">
    <div id="helpContainer" class="metropolis">
      <div id="helpBox">
        <div id="helpTitleContainer">
          <span id="helpTitle">HELP</span>
        </div>
        <div class="helpBoxSpliter">
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + C</span>
            <span class="helpDescription">Copy</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + V</span>
            <span class="helpDescription">Paste</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + S</span>
            <span class="helpDescription">Save</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + Z</span>
            <span class="helpDescription">Undo</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + Shift + Z</span>
            <span class="helpDescription">Redo</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Del</span>
            <span class="helpDescription">Delete</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + 1</span>
            <span class="helpDescription">Move</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + 2</span>
            <span class="helpDescription">Edit</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + 3</span>
            <span class="helpDescription">Add</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + P</span>
            <span class="helpDescription">Test</span>
          </div>
        </div>
        <div class="helpBoxSpliter">
          <div class="helpKeyContainer">
            <span class="helpKey">Esc</span>
            <span class="helpDescription">Stop</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Spc</span>
            <span class="helpDescription">Play/Pause</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">← →</span>
            <span class="helpDescription">Seek Horizontally</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">↑ ↓</span>
            <span class="helpDescription">Seek Vertically</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Scroll</span>
            <span class="helpDescription">Seek Horizontally</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + Scroll</span>
            <span class="helpDescription">Seek Vertically</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">1</span>
            <span class="helpDescription">Add 1</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">2</span>
            <span class="helpDescription">Add 2</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">3</span>
            <span class="helpDescription">Add 3</span>
          </div>
          <div class="helpKeyContainer">
            <span class="helpKey">Ctrl + Shift + Del</span>
            <span class="helpDescription">Delete All</span>
          </div>
        </div>
      </div>
    </div>
    <div id="navbar">
      <div id="topLeftBar" class="navbarElements">
        <span class="backText clickable" onclick="gotoMain()"><img src="https://img.icons8.com/ios-filled/24/000000/back.png" class="backIcon"><%= __('editor_main') %></span>
      </div>
      <div id="topCenterBar" class="navbarElements">
        <span id="songName" class="metropolis">Song Name here</span>
      </div>
      <div id="topRightBar" class="navbarElements">
        <img src="https://img.icons8.com/material-rounded/48/000000/horizontal-settings-mixer.png" class="icon clickable" onclick="toggleSettings()">
      </div>
    </div>
    <div id="workingSpaceContainer">
      <div id="workingContainer">
        <div id="menuContainer">
          <img src="https://img.icons8.com/ios-filled/52/000000/resize-four-directions.png" class="menuIcon menuSelected" onclick="changeMode(0)">
          <img src="https://img.icons8.com/ios-glyphs/48/000000/edit.png" class="menuIcon biggerIcon clickable" onclick="changeMode(1)">
          <img src="https://img.icons8.com/ios-glyphs/48/000000/add.png" class="menuIcon biggerIcon clickable" onclick="changeMode(2)">
          <div id="horizontalLine" class="menuIcon"></div>
          <img src="https://img.icons8.com/ios-glyphs/60/000000/search.png" class="menuIcon clickable">
        </div>
        <div id="componentView" onmousemove="trackMousePos(event)" onmousedown="compClicked()">
          <div id="canvasContainer">
            <div id="canvasBackgroundImage"></div>
            <canvas id="componentCanvas" width="100%" height="100%">
            </canvas>
          </div>
        </div>
      </div>
      <div id="settingsContainer">
        <div id="settingsName">
          <span id="dot">·</span>
          <span id="settingsNameSpace">Settings</span>
        </div>
        <div id="settingsProperties" class="metropolis">
          <div id="elementsSettings">
            <div id="noteSettingsContainer">
              <div class="settingsPropertiesContainer">
                <p class="settingsSemiTitle">POSITION</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">X</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('x', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Y</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('y', this)">
                </div>
              </div>
              <div class="settingsPropertiesContainer">
                <p class="settingsSemiTitle">PROPERTY</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Timing</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('Timing', this)">
                </div>
              </div>
              <div class="settingsPropertiesContainer">
                <p class="settingsSemiTitle">ACTION</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">DELETE</span>
                  <input type="button" class="settingsButtons metropolis clickable" onclick="deleteElement()" value="▶">
                </div>
              </div>
            </div>
            <div id="bulletSettingsContainer">
              <div class="settingsPropertiesContainer">
                <p class="settingsSemiTitle">POSITION</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Side</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('Side', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Location</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('Location', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Angle</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('Angle', this)">
                </div>
              </div>
              <div class="settingsPropertiesContainer">
                <p class="settingsSemiTitle">PROPERTY</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Timing</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('Timing', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Speed</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onblur="settingsInput('Speed', this)">
                </div>
              </div>
              <div class="settingsPropertiesContainer">
                <p class="settingsSemiTitle">ACTION</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">DELETE</span>
                  <input type="button" class="settingsButtons metropolis clickable" onclick="deleteElement()" value="▶">
                </div>
              </div>
            </div>
            <!--<div id="settingsButtonsContainer">
              <p class="settingsSemiTitle">EASING</p>
              <div class="settingsPropertiesButtons">
                <input type="button" class="settingsButtons selectedButton" value="L">
                <input type="button" class="settingsButtons" value="I">
                <input type="button" class="settingsButtons" value="O">
              </div>
              <p id="settingsButtonsText">Linear Path</p>
            </div>-->
          </div>
          <div id="trackSettings">
            <div class="settingsPropertiesContainer">
              <p class="settingsSemiTitle">INFORMATION</p>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Track</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" readonly>
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Producer</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" readonly>
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Author</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" value="">
              </div>
            </div>
            <div class="settingsPropertiesContainer">
              <p class="settingsSemiTitle">PROPERTY</p>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">BPM</span>
              <input type="text" class="settingsPropertiesTextbox metropolis" onblur="changeBPM(this)">
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Speed</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" onblur="changeSpeed(this)" value="1">
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Offset</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" onblur="changeOffset(this)" value="0">
              </div>
            </div>
            <div class="settingsPropertiesContainer">
              <p class="settingsSemiTitle">ACTION</p>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">SAVE</span>
                <input type="button" class="settingsButtons metropolis clickable" onclick="save()" value="▶">
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">TEST</span>
                <input type="button" class="settingsButtons metropolis clickable" onclick="test()" value="▶">
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">DELETE ALL</span>
                <input type="button" class="settingsButtons metropolis clickable" onclick="deleteAll()" value="▶">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="timelineContainer" onmousemove="trackTimelineMousePos()">
      <div id="timelineInner"></div>
    </div>
    <canvas id="timelineCanvas" width="100%" height="100%">
    </canvas>
    <div id="timelineZoomController" class="controllers">
      <img src="https://img.icons8.com/ios-glyphs/24/000000/zoom-in.png" class="clickable timeline-icon" onclick="zoomIn()">
      <img src="https://img.icons8.com/ios-glyphs/24/000000/zoom-out.png" class="clickable timeline-icon" onclick="zoomOut()">
    </div>
    <div id="timelinePlayController" class="controllers">
      <img src="https://img.icons8.com/ios-glyphs/24/000000/play.png" id="controlBtn" class="clickable timeline-play" onclick="playPauseBtn()">
      <img src="https://img.icons8.com/ios-glyphs/24/000000/stop.png" class="clickable timeline-icon" onclick="stopBtn()">
      <span class="clickable" id="percentage" onclick="changeRate();">100%</span>
    </div>
    <div id="timelineSplitController" class="controllers">
      <span class="clickable" id="split" onclick="changeSplit();">1/2</span>
    </div>
  </div>
  <script>
    const need2Save = "<%= __('needToSave') %>";
    const rusure = "<%= __('RUSure') %>";
    const deleteSure = "<%= __('DeleteSure') %>";
    const cdn = "<%= cdn %>";
    const url = "<%= url %>";
    const api = "<%= api %>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
  <script src="js/editor.js"></script>
</body>
</html>