<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editor</title>
  <link rel="stylesheet" href="css/editor.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <script src="js/pace.js"></script>
</head>
<body>
  <div id="initialScreenContainer" class="metropolis">
    <br><br>
    <h2>Editor</h2>
    <div id="initialButtonsContainer">
      <span id="gotoGame" class="backText clickable" onclick="window.location.href = '<%= url %>'"><img src="https://img.icons8.com/ios-filled/24/000000/back.png" class="backIcon"><%= __('goto_game') %></span>
      <span class="initialButtons clickable" onclick="newEditor()"><img src="https://img.icons8.com/ios/96/000000/edit.png" class="initialIcon clickable"><br>New</span>
      <span class="initialButtons clickable" onclick="loadEditor()"><img src="https://img.icons8.com/ios/96/000000/circled-right-2.png" class="initialIcon clickable"><br>Load</span>
    </div>
    <div id="songSelectionContainer">
      <div id="songSelection">
        <span id="gotoGame" class="backText clickable" onclick="gotoMain(true)"><img src="https://img.icons8.com/ios-filled/24/000000/back.png" class="backIcon"><%= __('cancel') %></span>
        <h2>Select Song</h2>
        <select id="songSelectBox" class="clickable">
        </select>
        <input type="button" class="initlalButtons" value="Select" onclick="songSelected()">
      </div>
    </div>
  </div>
  <div id="editorMainContainer">
    <div id="navbar">
      <div id="topLeftBar" class="navbarElements">
        <span class="backText clickable" onclick="gotoMain()"><img src="https://img.icons8.com/ios-filled/24/000000/back.png" class="backIcon"><%= __('editor_main') %></span>
      </div>
      <div id="topCenterBar" class="navbarElements">
        <span id="songName" class="metropolis">Song Name here</span>
      </div>
      <div id="topRightBar" class="navbarElements">
        <img src="https://img.icons8.com/material-rounded/48/000000/horizontal-settings-mixer.png" class="icon clickable" onclick="toggleSettings()">
      </div>
    </div>
    <div id="workingSpaceContainer">
      <div id="workingContainer">
        <div id="menuContainer">
          <img src="https://img.icons8.com/ios-filled/52/000000/resize-four-directions.png" class="menuIcon menuSelected" onclick="changeMode(0)">
          <img src="https://img.icons8.com/ios-glyphs/48/000000/edit.png" class="menuIcon biggerIcon clickable" onclick="changeMode(1)">
          <img src="https://img.icons8.com/ios-glyphs/48/000000/add.png" class="menuIcon biggerIcon clickable" onclick="changeMode(2)">
          <div id="horizontalLine" class="menuIcon"></div>
          <img src="https://img.icons8.com/ios-glyphs/60/000000/search.png" class="menuIcon clickable">
        </div>
        <div id="componentView" onmousemove="trackMousePos(event)" onclick="compClicked()">
          <div id="canvasContainer">
            <div id="canvasBackgroundImage"></div>
            <canvas id="componentCanvas" width="100%" height="100%">
            </canvas>
          </div>
        </div>
      </div>
      <div id="settingsContainer">
        <div id="settingsName">
          <span id="dot">·</span>
          <span id="settingsNameSpace">Settings</span>
        </div>
        <div id="settingsProperties" class="metropolis">
          <div id="elementsSettings">
            <div id="noteSettingsContainer">
              <div id="settingsPropertiesContainer">
                <p class="settingsSemiTitle">POSITION</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">X</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('x', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Y</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('y', this)">
                </div>
              </div>
              <div id="settingsPropertiesContainer">
                <p class="settingsSemiTitle">PROPERTY</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Timing</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('Timing', this)">
                </div>
              </div>
            </div>
            <div id="bulletSettingsContainer">
              <div id="settingsPropertiesContainer">
                <p class="settingsSemiTitle">POSITION</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Side</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('Side', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Location</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('Location', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Angle</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('Angle', this)">
                </div>
              </div>
              <div id="settingsPropertiesContainer">
                <p class="settingsSemiTitle">PROPERTY</p>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Timing</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('Timing', this)">
                </div>
                <div class="settingsPropertiesIndividual">
                  <span class="settingsPropertiesTitle">Speed</span>
                  <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="settingsInput('Speed', this)">
                </div>
              </div>
            </div>
            <!--<div id="settingsButtonsContainer">
              <p class="settingsSemiTitle">EASING</p>
              <div class="settingsPropertiesButtons">
                <input type="button" class="settingsButtons selectedButton" value="L">
                <input type="button" class="settingsButtons" value="I">
                <input type="button" class="settingsButtons" value="O">
              </div>
              <p id="settingsButtonsText">Linear Path</p>
            </div>-->
          </div>
          <div id="trackSettings">
            <div id="settingsPropertiesContainer">
              <p class="settingsSemiTitle">INFORMATION</p>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Track</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" readonly>
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Producer</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" readonly>
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Author</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" value="">
              </div>
            </div>
            <div id="settingsPropertiesContainer">
              <p class="settingsSemiTitle">PROPERTY</p>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">BPM</span>
              <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="changeBPM(this)">
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Speed</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="changeSpeed(this)" value="1">
              </div>
              <div class="settingsPropertiesIndividual">
                <span class="settingsPropertiesTitle">Offset</span>
                <input type="text" class="settingsPropertiesTextbox metropolis" onkeyup="changeOffset(this)" value="0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="timelineContainer">
      <div id="timelineInner"></div>
    </div>
    <canvas id="timelineCanvas" width="100%" height="100%">
    </canvas>
  </div>
  <script>
    const rusure = "<%= __('RUSure') %>";
    const cdnUrl = "<%= cdnUrl %>";
    const url = "<%= url %>";
    const api = "<%= api %>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
  <script src="js/editor.js"></script>
</body>
</html>