<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editor</title>
  <link rel="stylesheet" href="css/editor.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <script src="js/pace.js"></script>
</head>
<body>
  <div id="navbar">
    <div id="topLeftBar" class="navbarElements">
      <span id="backText"><span class="backIcon">&#xE000;</span><%= __('editor_main') %></span>
    </div>
    <div id="topCenterBar" class="navbarElements">
      <span id="songName" class="metropolis"><!--<%= __('select_a_song') %>-->Midnight Train</span>
    </div>
    <div id="topRightBar" class="navbarElements">
      <img src="https://img.icons8.com/material-rounded/48/000000/horizontal-settings-mixer.png" class="icon clickable">
    </div>
  </div>
  <div id="workingSpaceContainer">
    <div id="workingContainer">
      <div id="menuContainer">
        <img src="https://img.icons8.com/ios-filled/52/000000/resize-four-directions.png" class="menuIcon clickable menuSelected">
        <img src="https://img.icons8.com/ios-glyphs/48/000000/edit.png" class="menuIcon clickable">
        <div id="horizontalLine" class="menuIcon"></div>
        <img src="https://img.icons8.com/ios-glyphs/60/000000/search.png" class="menuIcon clickable">
      </div>
      <div id="componentView">
        <div id="canvasContainer">
          <div id="canvasBackgroundImage"></div>
          <canvas id="componentCanvas" width="100%" height="100%">
          </canvas>
        </div>
      </div>
    </div>
    <div id="settingsContainer">
      <div id="settingsName">
        <span id="dot">·</span>
        <span id="settingsNameSpace">Bullet_0</span>
      </div>
      <div id="settingsProperties" class="metropolis">
        <div id="settingsPropertiesContainer">
          <p class="settingsSemiTitle">POSITION</p>
          <div class="settingsPropertiesIndividual">
            <span class="settingsPropertiesTitle">StartPosX</span>
            <input type="text" class="settingsPropertiesTextbox metropolis">
          </div>
          <div class="settingsPropertiesIndividual">
            <span class="settingsPropertiesTitle">StartPosY</span>
            <input type="text" class="settingsPropertiesTextbox metropolis">
          </div>
          <div class="settingsPropertiesIndividual">
            <span class="settingsPropertiesTitle">Angle</span>
            <input type="text" class="settingsPropertiesTextbox metropolis">
          </div>
          <div class="settingsPropertiesIndividual">
            <span class="settingsPropertiesTitle">Scale</span>
            <input type="text" class="settingsPropertiesTextbox metropolis">
          </div>
        </div>
        <div id="settingsPropertiesContainer">
          <p class="settingsSemiTitle">PROPERTY</p>
          <div class="settingsPropertiesIndividual">
            <span class="settingsPropertiesTitle">Delay</span>
            <input type="text" class="settingsPropertiesTextbox metropolis">
          </div>
          <div class="settingsPropertiesIndividual">
            <span class="settingsPropertiesTitle">Speed</span>
            <input type="text" class="settingsPropertiesTextbox metropolis">
          </div>
        </div>
        <div id="settingsButtonsContainer">
          <p class="settingsSemiTitle">EASING</p>
          <div class="settingsPropertiesButtons">
            <input type="button" class="settingsButtons selectedButton" value="L">
            <input type="button" class="settingsButtons" value="I">
            <input type="button" class="settingsButtons" value="O">
          </div>
          <p id="settingsButtonsText">Linear Path</p>
        </div>
      </div>
    </div>
  </div>
  <div id="timelineContainer">
    <div id="timelineInner"></div>
    <canvas id="timelineCanvas" width="100%" height="100%">

    </canvas>
  </div>
  <script>
    const rusure = "<%= __('RUSure') %>";
    const cdnUrl = "<%= cdnUrl %>";
    const url = "<%= url %>";
    const api = "<%= api %>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
  <script src="js/editor.js"></script>
</body>
</html>