<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyRhy Editor</title>
  <link rel="stylesheet" href="css/editor.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <script src="js/pace.js"></script>
</head>
<body>
  <div id="speedFieldContainer">
      <select id="speeds" onchange="speedSelected(this)">
        <option value="1" selected>1x</option>
        <option value="2">2x</option>
        <option value="3">3x</option>
        <option value="4">4x</option>
        <option value="5">5x</option>
      </select>
  </div>
  <div id="bpmFieldContainer">
    <input type="text" id="bpmTextField" value="130" onchange="bpmChanged(this)">
  </div>
  <div id="topNav">
    <div id="topLeftNav">
      <img src="https://img.icons8.com/material-outlined/24/000000/menu.png" id="menuIcon" class="icon clickable" onclick="menu()">
    </div>
    <div id="topCenterNav">
      <div id="speedContainer" class="clickable" onclick="speedShow()">
        <span id="speedTitle">SPEED</span>
        <span class="settingValue" id="speedField">1x</span>
      </div>
      <div id="songContainer">
        <div id="settingIconContainer">
          <img src="https://img.icons8.com/windows/64/000000/settings.png" class="icon clickable" onclick="openSettings()">
        </div>
        <div id="songNameContainer">
          <span id="songName">Select a song</span>
        </div>
        <div id="infoIconContainer">
          <img src="https://img.icons8.com/windows/64/000000/info.png" class="icon clickable" onclick="openInfo()">
        </div>
      </div>
      <div id="bpmContainer" class="clickable" onclick="bpmShow()">
        <span id="bpmTitle">BPM</span>
        <span class="settingValue" id="bpmField">130</span>
      </div>
    </div>
    <div id="topRightNav">
      <img src="https://img.icons8.com/material/24/000000/triggering.png" id="triggerIcon" class="icon clickable" onclick="showTrigger()">
    </div>
  </div>
  <div id="triggerContainer">
    <div class="triggerElement" id="trigger0">
      <div class="triggerElementLeft">
        0:00:00.00
      </div>
      <div class="triggerElementRight">
        HI
      </div>
    </div>
    <div id="addTrigger" onclick="addTrigger()" class="clickable">
      +
    </div>
  </div>
  <div id="menu">
    <div id="menuTop">
      <span onclick="load()" class="clickable"><%= __('load') %></span>
      <br>
      <span onclick="save()" class="clickable"><%= __('save') %></span>
      <br>
      <span onclick="offsetOpen()" class="clickable"><%= __('offset') %></span>
    </div>
    <div id="menuBottom">
      <span onclick="exit()" class="clickable" id="exitText"><%= __('exit') %></span>
    </div>
  </div>
  <div id="settings">
    <div id="settingsTop">
      <span>
        <span class="settingsText">
          <%= __('track:') %>
        </span>
        <select id="tracks" onchange="musicSelected(this)">
          <option value="-" selected>--------</option>
        </select>
      </span>
      <span id="title">
        <span class="settingsText">
          <%= __('title:') %>
        </span>
        <input type="text" id="titleField" class="textField" onchange="titleChanged(this)">
      </span>
      <span id="producer">
        <span class="settingsText">
          <%= __('producer:') %>
        </span>
        <input type="text" id="producerField" class="textField" onchange="producerChanged(this)">
      </span>
    </div>
    <div id="settingsBottom">
      <span>Settings</span>
    </div>
  </div>
  <div id="info">
    <div id="infoTop">
      <span>
        <%= __('length_of_song:') %> <span id="lengthOfSong">0m 00s</span>
        <br>
        <%= __('number_of_note:') %> <span id="numOfNote">0</span>
        <br>
        <%= __('number_of_bullet:') %> <span id="numOfBullet">0</span>
        <br>
        <%= __('notes_average:') %> <span id="noteAverage">0.0λ…ΈνΈ</span>
      </span>
    </div>
    <div id="infoBottom">
      <span>Info</span>
    </div>
  </div>
  <div id="fileOpener" class="topLeftSmallMenu">
    <input type="file" id="file" accept=".json" onchange="fileUploaded(this)">
  </div>
  <div id="offsetContainer" class="topLeftSmallMenu">
    <input type="text" id="offsetField" class="textField" onchange="offsetChanged(this)" value="0" placeholder="offset">
  </div>
  <div id="bottomNav">
    <div id="bottomLeftNav">
      <img src="/images/parts/elements/play/circle.png" class="elementIcon selectedIcon ">
      <img src="/images/parts/elements/play/square.png" class="elementIcon unselectedIcon">
      <img src="/images/parts/elements/play/bullet.png" class="elementIcon unselectedIcon">
    </div>
    <div id="timeline">
      <div id="timelineContent">
        <img src="/images/parts/elements/redTri.png" id="nowPlayingMark">
      </div>
    </div>
  </div>
  <div id="playbackrate">
    <img src="https://img.icons8.com/material/24/000000/play--v1.png" onclick="playPattern()" id="playIcon" class="clickable">
    <img src="https://img.icons8.com/ios-filled/50/000000/stop.png" onclick="stopPattern()" id="stopIcon" class="clickable">
    <span id="playbackrateText" onclick="rateChange()" class="clickable">100%</span>
  </div>
  <div id="temposplit">
    <img src="https://img.icons8.com/android/24/000000/expand-arrow.png" onclick="tempoLeft()" id="tempoLeft" class="clickable">
    <span id="temposplitText">1/4</span>
    <img src="https://img.icons8.com/android/24/000000/expand-arrow.png" onclick="tempoRight()" id="tempoRight" class="clickable">
  </div>
  <img src="images/parts/elements/wall.svg" id="wall_left" class="wall">
  <img src="images/parts/elements/wall.svg" id="wall_right" class="wall">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
  <div id="background"></div>
  <script>
    const rusure = "<%= __('RUSure') %>";
    const cdnUrl = "<%= cdnUrl %>";
    const url = "<%= url %>";
    const api = "<%= api %>";
  </script>
  <script src="js/editor.js"></script>
</body>
</html>