<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177236027-1');
    </script>
    <meta charset="UTF-8">
    <title>URLATE Client</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="js/pace.js"></script>
</head>
<body>
    <div id="footer">
        <div id="footerLeft">
            <img src="images/parts/icons/return.png" class="icon">
            <span class="medium">&nbsp;&nbsp;Enter or Click to <strong>Select</strong></span>
        </div>
        <div id="footerCenter">
            <strong id="songName"><img src="images/parts/icons/note.png" id="noteIcon"><span id="songNameText">&nbsp;URLATE Theme</span></strong>
            <span id="urlateText"><strong>URLATE</strong> Pure</span>
        </div>
        <div id="footerRight">
            <span><span class="medium"><%= __('more_info_1') %><a href="https://rhyga.me/info" target="_blank" rel="noopener noreferrer" class="link"><%= __('more_info_here') %></a><%= __('more_info_2') %></span><br>&copy; 2020 <strong>URLATE</strong>, All contents cannot be copied without permission.</span>
        </div>
    </div>
    <div id="loadingContainer">
        <img src="images/logos/URLATE.png" id="logo">
    </div>
    <div id="header">
        <div id="headerLeft">
            <span id="name" class="light">USERNAME</span>
        </div>
        <div id="headerRight">
            <img src="https://img.icons8.com/windows/64/000000/info.png" class="icon clickable" onclick="infoScreen()">
            <div id="line"></div>
            <img src="https://img.icons8.com/windows/64/000000/settings.png" class="icon clickable" onclick="optionScreen()">
        </div>
    </div>
    <div id="menuContainer">
        <div id="backIconContainer" class="noClick"></div>
        <img src="images/parts/elements/back1.png" class="backIcon noClick" id="back1">
        <img src="images/parts/elements/back2.png" class="backIcon noClick" id="back2">
        <img src="images/parts/elements/back3.png" class="backIcon noClick" id="back3">
        <img src="images/parts/elements/back4.png" class="backIcon noClick" id="back4">
        <img src="images/parts/elements/back5.png" class="backIcon noClick" id="back5">
        <img src="https://img.icons8.com/metro/52/000000/chevron-left.png" class="icon clickable" onclick="menuLeft()">
        <div id="menuMain" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/cursor.png" class="mainIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('play_title') %></span>
            <span class="light menuSubtitle"><%= __('play_subtitle') %></span>
        </div>
        <div id="menuEditor" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/editor.svg" class="shadowIcon" id="editorIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('editor_title') %></span>
            <span class="light menuSubtitle"><%= __('editor_subtitle') %></span>
        </div>
        <div id="menuAdvanced" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/heart.png" class="shadowIcon" id="titleAdvancedIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('advanced_title') %></span>
            <span class="light menuSubtitle"><%= __('advanced_subtitle') %></span>
        </div>
        <div id="menuStore" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/store.png" class="shadowIcon" id="titleStoreIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('store_title') %></span>
            <span class="light menuSubtitle"><%= __('store_subtitle') %></span>
        </div>
        <img src="https://img.icons8.com/metro/52/000000/chevron-right.png" class="icon clickable" onclick="menuRight()">
    </div>
    <div id="selectContainer" class="containers metropolis">
        <div id="selectBackground"></div>
        <img src="https://img.icons8.com/windows/32/FFFFFF/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <img src="images/parts/elements/TRACKS.png" id="tracks">
        <div id="selectContainerLeft">
            <div id="selectContainerTitle">
                <div id="selectContainerTitleLeft">
                    <span id="selectTitle">Zenith</span>
                    <span id="selectArtist">Sterrezo</span>
                </div>
                <div id="selectContainerTitleRight">
                    <span id="selectScore">SCORE</span>
                    <span id="selectScoreValue">123,456,789</span>
                </div>
            </div>
            <div id="selectContainerAlbum">
                <div id="selectContainerAlbumLeft">
                    <img id="selectAlbum">
                </div>
                <div id="selectContainerAlbumRight">
                    <span id="trackStats">TRACK STATISTICS</span>
                    <div class="trackStatContainer">
                        <span><%= __('bullet_density') %></span>
                        <span id="bulletDensity">68</span>
                    </div>
                    <div class="trackStatLineContainer"><div class="trackStatLine" id="bulletDensityValue"></div></div>
                    <div class="trackStatContainer">
                        <span><%= __('note_density') %></span>
                        <span id="noteDensity">83</span>
                    </div>
                    <div class="trackStatLineContainer"><div class="trackStatLine" id="noteDensityValue"></div></div>
                    <div class="trackStatContainer">
                        <span>BPM</span>
                        <span id="bpmText">128</span>
                    </div>
                    <div class="trackStatLineContainer"><div class="trackStatLine" id="bpmValue"></div></div>
                    <div class="trackStatContainer">
                        <span><%= __('speed') %></span>
                        <span id="speed">3</span>
                    </div>
                    <div class="trackStatLineContainer"><div class="trackStatLine" id="speedValue"></div></div>
                </div>
            </div>
            <div id="selectContainerInfo">
                <div class="selectInfo">
                    <div class="selectInfoTitleContainer">
                        <span class="selectInfoTitle">DIFFICULTY</span>
                        <span class="key">TAB</span>
                    </div>
                    <div class="selectInfoContentsContainer">
                        <span class="difficulty difficultySelected" onclick="difficultySelected(0)">EZ</span>
                        <span class="difficulty" onclick="difficultySelected(1)">MID</span>
                        <span class="difficulty nomargin" onclick="difficultySelected(2)">HARD</span>
                    </div>
                    <span id="selectStars">★★★★★☆☆☆☆☆</span>
                </div>
                <div class="selectInfo">
                    <div class="selectInfoTitleContainer">
                        <span class="selectInfoTitle">RANK</span>
                        <span class="key">F2</span>
                    </div>
                    <div class="selectInfoContentsContainer">
                        <span id="selectRank">#1234</span>
                    </div>
                </div>
                <div class="selectInfo">
                    <div class="selectInfoTitleContainer">
                        <span class="selectInfoTitle">MEDAL</span>
                    </div>
                    <div class="selectInfoContentsContainer">
                        <img src="images/parts/icons/GOLD_MEDAL.png" class="medals" id="goldMedal">
                        <img src="images/parts/icons/SILVER_MEDAL.png" class="medals" id="silverMedal">
                        <img src="images/parts/icons/CHECK_MEDAL.png" class="medals" id="checkMedal">
                    </div>
                </div>
            </div>
        </div>
        <div id="selectContainerRight">
            <div id="selectContainerRightTitles">
                <span class="selectContainerRightTitle">NAME</span>
                <div id="selectContainerRightRank">
                    <span class="selectContainerRightTitle">RANK</span>
                </div>
            </div>
            <div id="selectSongContainer"></div>
        </div>
        <div id="selectRankContainer">
            <div id="selectRankInnerContainer">
                <div id="selectRankTitleContainer">
                    <div id="selectRankTitleLeftContainer">
                        <span id="selectRankTitle"><strong>R</strong>ANKING</span>
                    </div>
                    <div id="selectRankTitleRightContainer">
                        <img src="https://img.icons8.com/windows/32/FFFFFF/macos-close.png" class="icon clickable rankCloseBtn" onclick="displayClose()">
                    </div>
                </div>
                <div class="selectRank">
                    <div class="selectRankNumber rankGuide">#</div>
                    <div class="selectRankName rankGuide">NAME</div>
                    <div class="selectRankScore rankGuide">SCORE</div>
                </div>
                <div id="selectRankScoreContainer"></div>
            </div>
        </div>
    </div>
    <div id="advancedContainer" class="containers">
        <div id="advancedPurchasing">
            <span><%= __('purchasing_1') %><br><%= __('purchasing_2') %></span>
        </div>
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <h1 id="advancedTitle"><strong>URLATE</strong> ADVANCED</h1>
        <p class="advancedDescription"><%= __('advanced_description_1') %><br><%= __('advanced_description_2') %><br><strong><%= __('advanced_description_3') %></strong></p>
        <p class="advancedSubtitle"><%= __('advanced_subtitle_1') %></p>
        <p class="advancedDescription"><%= __('advanced_description_4') %><br><%= __('advanced_description_5') %><br><%= __('advanced_description_6') %></p>
        <p class="advancedSubtitle"><span id="subtitleHighlight"><%= __('advanced_subtitle_2') %></span></p>
        <p class="advancedDescription"><%= __('advanced_description_7') %></p>
        <div id="advancedIconsContainer">
            <div id="advancedIconsInnerContainer">
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_1.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_1') %><br><%= __('advanced_wicon_description_2') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_2.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_3') %><br><%= __('advanced_wicon_description_4') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_3.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_5') %><br><%= __('advanced_wicon_description_6') %><br><span class="additionalDescription"><%= __('advanced_additional_description_1') %></span></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_4.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_7') %><br><%= __('advanced_wicon_description_8') %><br><span class="additionalDescription"><%= __('advanced_additional_description_2') %></span></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_5.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_9') %><br><%= __('advanced_wicon_description_10') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_6.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_11') %><br><%= __('advanced_wicon_description_12') %><br><%= __('advanced_wicon_description_13') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_7.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_14') %><br><%= __('advanced_wicon_description_15') %></span>
                </div>
            </div>
        </div>
        <p class="advancedSubtitle"><%= __('advanced_subtitle_3') %></p>
        <p class="advancedDescription"><%= __('advanced_description_8') %><br><strong><%= __('advanced_description_9') %></strong></p>
        <br>
        <input type="button" id="registerBtn" class="clickable metropolis" value="<%= __('register') %>" onclick="getAdvanced()">
    </div>
    <div id="infoContainer" class="containers metropolis">
        <div id="infoProfileContainer" class="containers">
            <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
            <div id="infoProfileLeft">
                <img src="" id="infoProfileImg">
            </div>
            <div id="infoProfileRight">
                <div id="infoProfileTop">
                    <span id="infoProfileName"></span>
                    <br>
                    <span id="infoProfilePosition"></span>
                </div>
                <div id="infoProfileBottom">
                </div>
            </div>
        </div>
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <img src="images/logos/URLATE_NO_CIRCLE.png" id="infoLogo">
        <br>
        <span id="license">
            <span id="licenseMain">URLATE is under the MIT license.</span>
            <br><br>
            Copyright notices for resources included in the game are located at <a href="https://rhyga.me/info" target="_blank" class="link">rhyga.me/info</a>.
            <br>
            All copyrights of the resources included in URLATE are owned by Team Croissant and,
            <br>
            apart from the MIT license, use without permission may result in legal liability.
            <br>
        </span>
        <div id="infoLineContainer"><div id="infoLine"></div></div>
        <span id="infoTitle">TEAM CROISSANT</span>
        <br>
        <span id="infoSubtitle">(Click to show details)</span>
        <br>
        <div class="profileContainer">
            <div class="profile" id="profileCoupy">
                <div class="profileHover" onclick="showProfile('coupy')">Coupy</div>
            </div>
            <div class="profile" id="profileAlta">
                <div class="profileHover" onclick="showProfile('altadex')">AltaDex</div>
            </div>
            <div class="profile" id="profileShd">
                <div class="profileHover" onclick="showProfile('sancheon')">Sancheon</div>
            </div>
            <div class="profile" id="profileGreenstar">
                <div class="profileHover" onclick="showProfile('greenstar')">Greenstar</div>
            </div>
            <div class="profile" id="profileJoon">
                <div class="profileHover" onclick="showProfile('joon')">Joon</div>
            </div>
        </div>
        <div class="profileContainer">
            <div class="profile" id="profileRanol">
                <div class="profileHover" onclick="showProfile('ranolp')">RanolP</div>
            </div>
            <div class="profile" id="profileKiwi">
                <div class="profileHover" onclick="showProfile('kiwiyou')">kiwiyou</div>
            </div>
            <div class="profile" id="profilePine">
                <div class="profileHover" onclick="showProfile('pine')">Pine</div>
            </div>
            <div class="profile" id="profileSkylight">
                <div class="profileHover" onclick="showProfile('skylightqp')">SkylightQP</div>
            </div>
            <div class="profile" id="profileDanu">
                <div class="profileHover" onclick="showProfile('danuel')">Danuel</div>
            </div>
        </div>
        <div class="profileContainer">
            <div class="profile" id="profileBasix">
                <div class="profileHover" onclick="showProfile('basix')">Basix</div>
            </div>
        </div>
        <span id="infoTitle">THANKS TO</span>
        <br>
        <span id="infoSubtitle">(Click to show details)</span>
        <br>
        <div class="profileContainer">
            <div class="profile" id="profileHanu">
                <div class="profileHover" onclick="showProfile('hanukoon')">Hanukoon</div>
            </div>
            <div class="profile" id="profileGeoplex">
                <div class="profileHover" onclick="showProfile('geoplex')">Geoplex</div>
            </div>
            <div class="profile" id="profileViktor">
                <div class="profileHover" onclick="showProfile('viktor')">Viktor Kadic</div>
            </div>
            <div class="profile" id="profileSaw">
                <div class="profileHover" onclick="showProfile('saw')">Saw</div>
            </div>
            <div class="profile" id="profileYou">..and You</div>
        </div>
    </div>
    <div id="optionContainer" class="containers">
        <div id="offsetContiner" class="containers">
            <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
            <h1 id="offsetTitle"><%= __('offset_setting') %></h1>
            <div class="offsetPreviewContainer">
                <div class="offsetViewContainer">
                    <span class="offsetText"><%= __('input') %></span>
                    <div id="offsetInputCircle" class="offsetCircle"></div>
                </div>
                <div class="offsetViewContainer">
                    <span class="offsetText"><%= __('offset') %></span>
                    <div id="offsetOffsetCircle" class="offsetCircle"></div>
                </div>
            </div>
            <div class="offsetPreviewContainer">
                <div class="offsetViewContainer">
                    <div id="offsetPrevCircle" class="timingCircle"></div>
                    <span class="timingText">-50ms</span>
                </div>
                <div class="offsetViewContainer">
                    <div id="offsetTimingCircle" class="timingCircle"></div>
                    <span class="timingText">0ms</span>
                </div>
                <div class="offsetViewContainer">
                    <div id="offsetNextCircle" class="timingCircle"></div>
                    <span class="timingText">50ms</span>
                </div>
            </div>
            <span id="offsetDescription"><%= __('offset_description_1') %><strong><%= __('offset_description_2') %></strong><%= __('offset_description_3') %></span>
            <span id="offsetSubDescription"><%= __('offset_sub_description_1') %></span>
            <div id="offsetButtonContainer">
                <div class="offsetSideContainer">
                    <img src="https://img.icons8.com/metro/50/373737/collapse-arrow.png" class="icon offsetSideIcon clickable" onclick="offsetSpeedUp()">
                    <span id="offsetSpeedText" class="metropolis">1x</span>
                    <img src="https://img.icons8.com/metro/50/373737/expand-arrow.png" class="icon offsetSideIcon clickable" onclick="offsetSpeedDown()">
                </div>
                <div id="offsetTapButton" onmousedown="offsetButtonDown()" onmouseup="offsetButtonUp()">
                    <span id="offsetButtonText" class="metropolis">TAP</span>
                </div>
                <div class="offsetSideContainer">
                    <img src="https://img.icons8.com/metro/50/373737/plus-math.png" class="icon offsetSideIcon clickable" onclick="offsetUp()">
                    <img src="https://img.icons8.com/metro/50/373737/minus-math.png" class="icon offsetSideIcon clickable" onclick="offsetDown()">
                </div>
            </div>
            <div id="offsetResetButton" onclick="offsetReset()">
                <span id="offsetResetButtonText" class="metropolis"><%= __('reset') %></span>
            </div>
        </div>
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <h1 class="containersTitle"><%= __('option') %></h1>
        <div id="optionElementsContainer">
            <div id="optionSelectorContainer">
                <span class="optionSelectors optionSelected" onclick="optionSelect(0)"><%= __('general') %></span>
                <span class="optionSelectors" onclick="optionSelect(1)"><%= __('screen') %></span>
                <span class="optionSelectors" onclick="optionSelect(2)"><%= __('sound') %></span>
                <span class="optionSelectors" onclick="optionSelect(3)"><%= __('input') %></span>
                <span class="optionSelectors" onclick="optionSelect(4)"><%= __('game') %></span>
                <span class="optionSelectors" onclick="optionSelect(5)"><%= __('editor_title') %></span>
            </div>
            <div class="optionContentsContainer optionShow" id="optionGeneral">
                <p class="optionTitle"><%= __('my_info') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('namePlaceholder') %></p>
                    <p class="optionValue" id="optionName">USERNAME</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle">ADVANCED</p>
                    <p class="optionValue" id="optionAdvanced"><%= __('disabled') %></p>
                </div>
                <div class="optionValueContainer">
                    <a class="optionButton" onclick="logout()" id="logoutButton"><%= __('logout') %></a>
                </div>
                <p class="optionTitle"><%= __('language') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('general_language') %></p>
                    <select class="optionSelect" id="langSelector" onchange="langChanged(this)">
                        <option value="ko">한국어</option>
                        <option value="en">English</option>
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('music_artist') %></p>
                    <select class="optionSelect" id="langDetailSelector" onchange="settingChanged(this, 'detailLang')">
                        <option value="original"><%= __('show_original') %></option>
                        <option value="english"><%= __('show_english') %></option>
                    </select>
                </div>
                <p class="optionValue"><%= __('detail_lang_warning') %></p>
            </div>
            <div class="optionContentsContainer" id="optionDisplay">
                <p class="optionTitle"><%= __('resolution') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('canvas') %></p>
                    <select class="optionSelect" id="canvasResSelector" onchange="settingChanged(this, 'canvasRes')">
                        <option value="100">100%</option>
                        <option value="75">75%</option>
                        <option value="50">50%</option>
                        <option value="25">25%</option>
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('album_art') %></p>
                    <select class="optionSelect" id="albumResSelector" onchange="settingChanged(this, 'albumRes')">
                        <option value="100">100%</option>
                        <option value="75">75%</option>
                        <option value="50">50%</option>
                    </select>
                </div>
            </div>
            <div class="optionContentsContainer" id="optionSound">
                <p class="optionTitle"><%= __('volume') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_all') %></p>
                    <input type="range" min="0" max="100" value="50" id="volumeMaster" class="optionSlider" oninput="settingChanged(this, 'volumeMaster')">
                    <p class="optionValue" id="volumeMasterValue">50%</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_song') %></p>
                    <input type="range" min="0" max="100" value="100" id="volumeSong" class="optionSlider" oninput="settingChanged(this, 'volumeSong')">
                    <p class="optionValue" id="volumeSongValue">100%</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_hitsound') %></p>
                    <input type="range" min="0" max="100" value="100" id="volumeHit" class="optionSlider" oninput="settingChanged(this, 'volumeHitsound')">
                    <p class="optionValue" id="volumeHitValue">100%</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_effect') %></p>
                    <input type="range" min="0" max="100" value="100" id="volumeEft" class="optionSlider" oninput="settingChanged(this, 'volumeEffect')">
                    <p class="optionValue" id="volumeEftValue">100%</p>
                </div>
                <p class="optionTitle"><%= __('details') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('offset') %></p>
                    <a class="optionButton" onclick="offsetSetting()" id="offsetButton">0ms</a>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('resolution') %></p>
                    <select class="optionSelect" id="soundResSelector" onchange="settingChanged(this, 'soundRes')">
                        <option>96kbps</option>
                        <option>128kbps</option>
                        <option class="advancedOnly">192kbps</option>
                    </select>
                </div>
            </div>
            <div class="optionContentsContainer" id="optionInput">
                <p class="optionTitle"><%= __('mouse') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('sensitivity') %></p>
                    <input type="range" min="10" max="250" value="100" id="inputSensitive" class="optionSlider" oninput="settingChanged(this, 'sensitive')">
                    <p id="sensitiveValue" class="optionValue">1x</p>
                </div>
                <p class="optionValue"><%= __('sensitivity_warning') %></p>
                <p class="optionTitle"><%= __('keyboard') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('input_key') %></p>
                    <select class="optionSelect" id="inputSelector" onchange="settingChanged(this, 'inputKey')">
                        <option value="0"><%= __('all_key') %></option>
                        <option value="1"><%= __('alphabet_key') %></option>
                        <option value="2"><%= __('zx_key') %></option>
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('click_with_mouse') %></p>
                    <input type="checkbox" class="optionCheckbox" id="mouseCheck" onchange="settingChanged(this, 'inputMouse')">
                </div>
            </div>
            <div class="optionContentsContainer" id="optionGame">
                <p class="optionTitle"><%= __('visual') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('skin') %></p>
                    <select class="optionSelect" id="skinSelector" onchange="settingChanged(this, 'skin')">
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('cursor_size') %></p>
                    <input type="range" min="5" max="20" value="10" id="inputSize" class="optionSlider" oninput="settingChanged(this, 'inputSize')">
                    <p id="inputSizeValue" class="optionValue">1x</p>
                </div>
                <p class="optionValue"><%= __('cursor_size_warning') %></p>
                <div class="optionValueContainer advancedOnly">
                    <p class="optionSemiTitle"><%= __('apply_to_judge') %></p>
                    <input type="checkbox" class="optionCheckbox" id="judgeSkin" onchange="settingChanged(this, 'judgeSkin')">
                </div>
                <p class="optionTitle advancedOnly"><%= __('hide_judge') %></p>
                <div class="optionValueContainer advancedOnly">
                    <p class="optionSemiTitle">Perfect</p>
                    <input type="checkbox" class="optionCheckbox" id="judgePerfect" onchange="settingChanged(this, 'Perfect')">
                    <p class="optionSemiTitle">Great</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeGreat" onchange="settingChanged(this, 'Great')">
                    <p class="optionSemiTitle">Good</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeGood" onchange="settingChanged(this, 'Good')">
                </div>
                <div class="optionValueContainer advancedOnly">
                    <p class="optionSemiTitle">Bad</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeBad" onchange="settingChanged(this, 'Bad')">
                    <p class="optionSemiTitle">Miss</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeMiss" onchange="settingChanged(this, 'Miss')">
                    <!-- <p class="optionSemiTitle">Bullet</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeBullet" onchange="settingChanged(this, 'Bullet')"> -->
                </div>
                <p class="optionTitle"><%= __('info') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('frame_counter') %></p>
                    <input type="checkbox" class="optionCheckbox" id="frameCheck" onchange="settingChanged(this, 'frameCounter')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('combo_alert') %></p>
                    <input type="checkbox" class="optionCheckbox" id="comboAlertCheck" onchange="settingChanged(this, 'comboAlert')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('alert_interval') %></p>
                    <select class="optionSelect" id="comboSelector" onchange="settingChanged(this, 'comboCount')">
                        <option>10x</option>
                        <option>25x</option>
                        <option>50x</option>
                        <option>100x</option>
                        <option>200x</option>
                    </select>
                </div>
            </div>
            <div class="optionContentsContainer" id="optionInput">
                <p class="optionTitle"><%= __('personalize') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('ignore_cursor_at_editor') %></p>
                    <input type="checkbox" class="optionCheckbox" id="ignoreCursorCheck" onchange="settingChanged(this, 'ignoreCursor')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('ignore_at_editor') %></p>
                    <input type="checkbox" class="optionCheckbox" id="ignoreEditorCheck" onchange="settingChanged(this, 'ignoreEditor')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('ignore_at_test') %></p>
                    <input type="checkbox" class="optionCheckbox" id="ignoreTestCheck" onchange="settingChanged(this, 'ignoreTest')">
                </div>
            </div>
        </div>
    </div>
    <div id="storeContainer" class="containers metropolis">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <h1 class="containersTitle"><%= __('store_title') %></h1>
        <div id="optionElementsContainer">
            <div id="optionSelectorContainer">
                <img src="https://img.icons8.com/material/40/000000/musical--v1.png"  class="storeSelectors storeSelected" onclick="storeSelect(0)"/>
                <img src="https://img.icons8.com/material/40/000000/paint-palette--v1.png" class="storeSelectors" onclick="storeSelect(1)"/>
                <img src="https://img.icons8.com/fluent-systems-regular/40/000000/shopping-bag-full.png" class="storeSelectors" onclick="storeSelect(2)"/>
            </div>
            <div class="storeContentsContainer storeShow">
                <div class="storeRowContainer">
                    <div class="storeSongsContainer">
                        <div class="storeSongsLeft">
                            <img class="storeSongsAlbum" src="images/mainImage.png">
                        </div>
                        <div class="storeSongsRight">
                            <div class="storeSongsTop">
                                <span class="storeName">DLC Name</span>
                                <span class="storeSongArtist">Composer Name</span>
                            </div>
                            <div class="storeSongsBottom">
                                <span class="storePrice">구매함</span>
                            </div>
                        </div>
                    </div>
                    <div class="storeSongsContainer">
                        <div class="storeSongsLeft">
                            <img class="storeSongsAlbum" src="images/mainImage.png">
                        </div>
                        <div class="storeSongsRight">
                            <div class="storeSongsTop">
                                <span class="storeName">DLC Name</span>
                                <span class="storeSongArtist">Composer Name</span>
                            </div>
                            <div class="storeSongsBottom">
                                <span class="storePrice">₩4,500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="storeContentsContainer">
                <div class="storeRowContainer">
                    <div class="storeSkinsContainer">
                        <div class="storeSkinTitleContainer">
                            <span class="storeSkinName">Skin Name</span>
                        </div>
                        <div class="storeSkinContentContainer">
                            <svg class="noteSvg" viewBox="0 0 107.999 108">
                                <defs>
                                  <linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="100%" gradientUnits="objectBoundingBox">
                                    <stop offset="0"/>
                                    <stop offset="1"/>
                                  </linearGradient>
                                </defs>
                                <g id="note">
                                  <circle id="inside" cx="36" cy="36" r="36" transform="translate(18 18)" fill="url(#linear-gradient)"/>
                                  <path id="outside" d="M54,108A54.014,54.014,0,0,1,32.981,4.244,54.014,54.014,0,0,1,75.02,103.756,53.661,53.661,0,0,1,54,108ZM54,3a51,51,0,1,0,51,51A51.058,51.058,0,0,0,54,3Z" fill="url(#linear-gradient)"/>
                                </g>
                            </svg>
                            <svg class="bulletSvg" viewBox="0 0 51.293 85.988">
                                <defs>
                                  <linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="100%" gradientUnits="objectBoundingBox">
                                    <stop offset="0"/>
                                    <stop offset="1"/>
                                  </linearGradient>
                                </defs>
                                <path id="bullet" d="M7.512,78.477A25.476,25.476,0,0,1,0,60.342H0L25.646,0,51.292,60.342h0A25.647,25.647,0,0,1,7.512,78.477Z" fill="url(#linear-gradient)"/>
                            </svg>
                            <svg class="cursorSvg" viewBox="0 0 96 96">
                                <defs>
                                  <linearGradient id="linear-gradient" x1="0%" y1="0%" x2="100%" y2="100%" gradientUnits="objectBoundingBox">
                                    <stop offset="0"/>
                                    <stop offset="1"/>
                                  </linearGradient>
                                </defs>
                                <circle id="cursor" cx="48" cy="48" r="48" fill="url(#linear-gradient)"/>
                            </svg>
                        </div>
                        <div class="storeSkinPriceContainer">
                            <span class="storePrice">₩5,000</span>
                        </div>
                    </div>
                    <div class="storeSkinsContainer">
                        <div class="storeSkinTitleContainer">
                            <span class="storeSkinName">Skin Name</span>
                        </div>
                        <div class="storeSkinContentContainer">

                        </div>
                        <div class="storeSkinPriceContainer">
                            <span class="storePrice">₩5,000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="storeContentsContainer">
                <div class="storeRowContainer">
                    <div class="storeSongsContainer">
                        <div class="storeSongsLeft">
                            <img class="storeSongsAlbum" src="images/mainImage.png">
                        </div>
                        <div class="storeSongsRight">
                            <div class="storeSongsTop">
                                <span class="storeName">DLC Name</span>
                                <span class="storeSongArtist">Composer Name</span>
                            </div>
                            <div class="storeSongsBottom">
                                <span class="storePrice">구매함</span>
                            </div>
                        </div>
                    </div>
                    <div class="storeSongsContainer">
                        <div class="storeSongsLeft">
                            <img class="storeSongsAlbum" src="images/mainImage.png">
                        </div>
                        <div class="storeSongsRight">
                            <div class="storeSongsTop">
                                <span class="storeName">DLC Name</span>
                                <span class="storeSongArtist">Composer Name</span>
                            </div>
                            <div class="storeSongsBottom">
                                <span class="storePrice">₩4,500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="visualizer"><canvas id="renderer"></canvas></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script>
        var settings = [];
        const cdn = "<%= cdn %>";
        const url = "<%= url %>";
        const api = "<%= api %>";
        const enabled = "<%= __('enabled') %>";
        const registered = "<%= __('registered') %>";
        const lang = "<%= __('lang') %>";
    </script>
    <script src="js/game.js"></script>
</body>
</html>
