<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177236027-1');
    </script>
    <meta charset="UTF-8">
    <title>URLATE Client</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="js/pace.js"></script>
</head>
<body>
    <div id="footer">
        <div id="footerLeft">
            <img src="images/parts/icons/return.png" class="icon">
            <span class="medium">&nbsp;&nbsp;Enter or Click to <strong>Select</strong></span>
        </div>
        <div id="footerCenter">
            <strong id="songName"><img src="images/parts/icons/note.png" id="noteIcon"><span>&nbsp;SongName</span></strong>
            <span id="urlateText"><strong>URLATE</strong> Pure</span>
        </div>
        <div id="footerRight">
            <span><span class="medium"><%= __('more_info_1') %><a href="https://rhyga.me/info" target="_blank" rel="noopener noreferrer" class="link"><%= __('more_info_here') %></a><%= __('more_info_2') %></span><br>&copy; 2020 <strong>URLATE</strong>, All contents cannot be copied without permission.</span>
        </div>
    </div>
    <div id="loadingContainer">
        <img src="images/logos/URLATE.png" id="logo">
    </div>
    <div id="header">
        <div id="headerLeft">
            <span id="name" class="light">USERNAME</span>
        </div>
        <div id="headerRight">
            <img src="https://img.icons8.com/windows/64/000000/info.png" class="icon clickable" onclick="infoScreen()">
            <div id="line"></div>
            <img src="https://img.icons8.com/windows/64/000000/settings.png" class="icon clickable" onclick="optionScreen()">
        </div>
    </div>
    <div id="menuContainer">
        <div id="backIconContainer" class="noClick"></div>
        <img src="images/parts/elements/back1.png" class="backIcon noClick" id="back1">
        <img src="images/parts/elements/back2.png" class="backIcon noClick" id="back2">
        <img src="images/parts/elements/back3.png" class="backIcon noClick" id="back3">
        <img src="images/parts/elements/back4.png" class="backIcon noClick" id="back4">
        <img src="images/parts/elements/back5.png" class="backIcon noClick" id="back5">
        <img src="https://img.icons8.com/metro/52/000000/chevron-left.png" class="icon clickable" onclick="menuLeft()">
        <div id="menuMain" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/cursor.png" class="mainIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('play_title') %></span>
            <span class="light menuSubtitle"><%= __('play_subtitle') %></span>
        </div>
        <div id="menuEditor" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/editor.svg" class="shadowIcon" id="editorIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('editor_title') %></span>
            <span class="light menuSubtitle"><%= __('editor_subtitle') %></span>
        </div>
        <div id="menuAdvanced" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/heart.png" class="shadowIcon" id="titleAdvancedIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('advanced_title') %></span>
            <span class="light menuSubtitle"><%= __('advanced_subtitle') %></span>
        </div>
        <img src="https://img.icons8.com/metro/52/000000/chevron-right.png" class="icon clickable" onclick="menuRight()">
    </div>
    <div id="selectContainer" class="containers">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <span>this is select section, welcome!</span>
    </div>
    <div id="advancedContainer" class="containers">
        <div id="advancedPurchasing">
            <span><%= __('purchasing_1') %><br><%= __('purchasing_2') %></span>
        </div>
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <h1 id="advancedTitle"><strong>URLATE</strong> ADVANCED</h1>
        <p class="advancedDescription"><%= __('advanced_description_1') %><br><%= __('advanced_description_2') %><br><strong><%= __('advanced_description_3') %></strong></p>
        <p class="advancedSubtitle"><%= __('advanced_subtitle_1') %></p>
        <p class="advancedDescription"><%= __('advanced_description_4') %><br><%= __('advanced_description_5') %><br><%= __('advanced_description_6') %></p>
        <p class="advancedSubtitle"><span id="subtitleHighlight"><%= __('advanced_subtitle_2') %></span></p>
        <p class="advancedDescription"><%= __('advanced_description_7') %></p>
        <div id="advancedIconsContainer">
            <div id="advancedIconsInnerContainer">
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_1.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_1') %><br><%= __('advanced_wicon_description_2') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_2.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_3') %><br><%= __('advanced_wicon_description_4') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_3.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_5') %><br><%= __('advanced_wicon_description_6') %><br><span class="additionalDescription"><%= __('advanced_additional_description_1') %></span></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_4.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_7') %><br><%= __('advanced_wicon_description_8') %><br><span class="additionalDescription"><%= __('advanced_additional_description_2') %></span></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_5.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_9') %><br><%= __('advanced_wicon_description_10') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_6.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_11') %><br><%= __('advanced_wicon_description_12') %><br><%= __('advanced_wicon_description_13') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_7.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_14') %><br><%= __('advanced_wicon_description_15') %></span>
                </div>
            </div>
        </div>
        <p class="advancedSubtitle"><%= __('advanced_subtitle_3') %></p>
        <p class="advancedDescription"><%= __('advanced_description_8') %><br><strong><%= __('advanced_description_9') %></strong></p>
        <br>
        <input type="button" id="registerBtn" value="<%= __('register') %>" onclick="getAdvanced()">
    </div>
    <div id="infoContainer" class="containers">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <img src="images/logos/URLATE.png" id="infoLogo">
        <span id="license"><br><span id="licenseMain">URLATE is under the MIT license.</span>
            <br>
            Copyright notices for icons, songs, designs, resources, etc. included in the game are located at <a href="https://rhyga.me/info" target="_blank" class="link">rhyga.me/info</a>.
            <br>
            All copyrights of the resources included in URLATE are owned by Team Croissant and, apart from the MIT license, use without permission may result in legal liability.
        </span>
        <div id="infoLineContainer"><div id="infoLine"></div></div>
        <img src="images/logos/croissant.png" id="croissantLogo">
    </div>
    <div id="optionContainer" class="containers">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <h1 id="optionTitle"><%= __('option') %></h1>
        <div id="optionElementsContainer">
            <div id="optionSelectorContainer">
                <span class="optionSelectors optionSelected" onclick="optionSelect(0)"><%= __('general') %></span>
                <span class="optionSelectors" onclick="optionSelect(1)"><%= __('screen') %></span>
                <span class="optionSelectors" onclick="optionSelect(2)"><%= __('sound') %></span>
                <span class="optionSelectors" onclick="optionSelect(3)"><%= __('input') %></span>
                <span class="optionSelectors" onclick="optionSelect(4)"><%= __('game') %></span>
                <span class="optionSelectors" onclick="optionSelect(5)"><%= __('editor_title') %></span>
            </div>
            <div class="optionContentsContainer optionShow" id="optionGeneral">
                <p class="optionTitle"><%= __('my_info') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('namePlaceholder') %></p>
                    <p class="optionValue" id="optionName">USERNAME</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle">ADVANCED</p>
                    <p class="optionValue" id="optionAdvanced"><%= __('disabled') %></p>
                </div>
                <div class="optionValueContainer">
                    <a class="optionButton" onclick="logout()" id="logoutButton"><%= __('logout') %></a>
                </div>
                <p class="optionTitle"><%= __('language') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('general_language') %></p>
                    <select class="optionSelect" id="langSelector" onchange="langChanged(this)">
                        <option value="ko">한국어</option>
                        <option value="en">English</option>
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('music_artist') %></p>
                    <select class="optionSelect" id="langDetailSelector" onchange="settingChanged(this, 'detailLang')">
                        <option value="original"><%= __('show_original') %></option>
                        <option value="english"><%= __('show_english') %></option>
                    </select>
                </div>
            </div>
            <div class="optionContentsContainer" id="optionDisplay">
                <p class="optionTitle"><%= __('resolution') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('canvas') %></p>
                    <select class="optionSelect" id="canvasResSelector" onchange="settingChanged(this, 'canvasRes')">
                        <option value="100">100%</option>
                        <option value="75">75%</option>
                        <option value="50">50%</option>
                        <option value="25">25%</option>
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('album_art') %></p>
                    <select class="optionSelect" id="albumResSelector" onchange="settingChanged(this, 'albumRes')">
                        <option value="100">100%</option>
                        <option value="75">75%</option>
                        <option value="50">50%</option>
                    </select>
                </div>
            </div>
            <div class="optionContentsContainer" id="optionSound">
                <p class="optionTitle"><%= __('volume') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_all') %></p>
                    <input type="range" min="0" max="100" value="50" id="volumeMaster" class="optionSlider" oninput="settingChanged(this, 'volumeMaster')">
                    <p class="optionValue" id="volumeMasterValue">50%</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_song') %></p>
                    <input type="range" min="0" max="100" value="100" id="volumeSong" class="optionSlider" oninput="settingChanged(this, 'volumeSong')">
                    <p class="optionValue" id="volumeSongValue">100%</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_hitsound') %></p>
                    <input type="range" min="0" max="100" value="100" id="volumeHit" class="optionSlider" oninput="settingChanged(this, 'volumeHitsound')">
                    <p class="optionValue" id="volumeHitValue">100%</p>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('volume_effect') %></p>
                    <input type="range" min="0" max="100" value="100" id="volumeEft" class="optionSlider" oninput="settingChanged(this, 'volumeEffect')">
                    <p class="optionValue" id="volumeEftValue">100%</p>
                </div>
                <p class="optionTitle"><%= __('details') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('offset') %></p>
                    <a class="optionButton" onclick="offsetSetting()" id="offsetButton">0ms</a>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('resolution') %></p>
                    <select class="optionSelect" id="soundResSelector" onchange="settingChanged(this, 'soundRes')">
                        <option>96kbps</option>
                        <option>128kbps</option>
                        <option class="advancedOnly">192kbps</option>
                    </select>
                </div>
            </div>
            <div class="optionContentsContainer" id="optionInput">
                <p class="optionTitle"><%= __('mouse') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('sensitivity') %></p>
                    <input type="range" min="10" max="250" value="100" id="inputSensitive" class="optionSlider" oninput="settingChanged(this, 'sensitive')">
                    <p id="sensitiveValue" class="optionValue">1x</p>
                </div>
                <p class="optionValue"><%= __('sensitivity_warning') %></p>
                <p class="optionTitle"><%= __('keyboard') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('input_key') %></p>
                    <select class="optionSelect" id="inputSelector" onchange="settingChanged(this, 'inputKey')">
                        <option value="0"><%= __('all_key') %></option>
                        <option value="1"><%= __('alphabet_key') %></option>
                        <option value="2"><%= __('zx_key') %></option>
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('click_with_mouse') %></p>
                    <input type="checkbox" class="optionCheckbox" id="mouseCheck" onchange="settingChanged(this, 'inputMouse')">
                </div>
            </div>
            <div class="optionContentsContainer" id="optionGame">
                <p class="optionTitle"><%= __('visual') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('skin') %></p>
                    <select class="optionSelect" id="skinSelector" onchange="settingChanged(this, 'skin')">
                    </select>
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('cursor_size') %></p>
                    <input type="range" min="5" max="20" value="10" id="inputSize" class="optionSlider" oninput="settingChanged(this, 'inputSize')">
                    <p id="inputSizeValue" class="optionValue">1x</p>
                </div>
                <p class="optionValue"><%= __('cursor_size_warning') %></p>
                <div class="optionValueContainer advancedOnly">
                    <p class="optionSemiTitle"><%= __('apply_to_judge') %></p>
                    <input type="checkbox" class="optionCheckbox" id="judgeSkin" onchange="settingChanged(this, 'judgeSkin')">
                </div>
                <p class="optionTitle advancedOnly"><%= __('hide_judge') %></p>
                <div class="optionValueContainer advancedOnly">
                    <p class="optionSemiTitle">Perfect</p>
                    <input type="checkbox" class="optionCheckbox" id="judgePerfect" onchange="settingChanged(this, 'Perfect')">
                    <p class="optionSemiTitle">Great</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeGreat" onchange="settingChanged(this, 'Great')">
                    <p class="optionSemiTitle">Good</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeGood" onchange="settingChanged(this, 'Good')">
                </div>
                <div class="optionValueContainer advancedOnly">
                    <p class="optionSemiTitle">Bad</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeBad" onchange="settingChanged(this, 'Bad')">
                    <p class="optionSemiTitle">Miss</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeMiss" onchange="settingChanged(this, 'Miss')">
                    <!-- <p class="optionSemiTitle">Bullet</p>
                    <input type="checkbox" class="optionCheckbox" id="judgeBullet" onchange="settingChanged(this, 'Bullet')"> -->
                </div>
                <p class="optionTitle"><%= __('info') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('frame_counter') %></p>
                    <input type="checkbox" class="optionCheckbox" id="frameCheck" onchange="settingChanged(this, 'frameCounter')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('combo_alert') %></p>
                    <input type="checkbox" class="optionCheckbox" id="comboAlertCheck" onchange="settingChanged(this, 'comboAlert')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('alert_interval') %></p>
                    <select class="optionSelect" id="comboSelector" onchange="settingChanged(this, 'comboCount')">
                        <option>10x</option>
                        <option>25x</option>
                        <option>50x</option>
                        <option>100x</option>
                        <option>200x</option>
                    </select>
                </div>
            </div>
            <div class="optionContentsContainer" id="optionInput">
                <p class="optionTitle"><%= __('personalize') %></p>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('ignore_cursor_at_editor') %></p>
                    <input type="checkbox" class="optionCheckbox" id="ignoreCursorCheck" onchange="settingChanged(this, 'ignoreCursor')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('ignore_at_editor') %></p>
                    <input type="checkbox" class="optionCheckbox" id="ignoreEditorCheck" onchange="settingChanged(this, 'ignoreEditor')">
                </div>
                <div class="optionValueContainer">
                    <p class="optionSemiTitle"><%= __('ignore_at_test') %></p>
                    <input type="checkbox" class="optionCheckbox" id="ignoreTestCheck" onchange="settingChanged(this, 'ignoreTest')">
                </div>
            </div>
        </div>
    </div>
    <div id="visualizer"><canvas id="renderer"></canvas></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script>
        var settings = [];
        const cdn = "<%= cdn %>";
        const url = "<%= url %>";
        const api = "<%= api %>";
        const enabled = "<%= __('enabled') %>";
        const registered = "<%= __('registered') %>";
        const lang = "<%= __('lang') %>";
        const d = "<%= time %>";
    </script>
    <script src="js/game.js"></script>
</body>
</html>