<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177236027-1');
    </script>
    <meta charset="UTF-8">
    <title>URLATE Client</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="js/pace.js"></script>
</head>
<body>
    <div id="footer">
        <div id="footerLeft">
            <img src="images/parts/icons/return.png" class="icon">
            <span class="medium">&nbsp;&nbsp;Enter or Click to <strong>Select</strong></span>
        </div>
        <div id="footerCenter">
            <strong id="songName"><img src="images/parts/icons/note.png" id="noteIcon"><span>&nbsp;SongName</span></strong>
            <span class="light" id="urlateText"><strong>URLATE</strong> Experimental</span>
        </div>
        <div id="footerRight">
            <span><span class="medium"><%= __('more_info_1') %><a href="<%= cdn %>" target="_blank" rel="noopener noreferrer" class="link"><%= __('more_info_here') %></a><%= __('more_info_2') %></span><br>&copy; 2020 <strong>URLATE</strong>, All contents cannot be copied without permission.</span>
        </div>
    </div>
    <div id="loadingContainer">
        <img src="images/logos/URLATE.png" id="logo">
    </div>
    <div id="header">
        <div id="headerLeft">
            <span id="name" class="light">USERNAME</span>
        </div>
        <div id="headerRight">
            <img src="https://img.icons8.com/windows/64/000000/info.png" class="icon clickable" onclick="infoScreen()">
            <div id="line"></div>
            <img src="https://img.icons8.com/windows/64/000000/settings.png" class="icon clickable">
        </div>
    </div>
    <div id="menuContainer">
        <div id="backIconContainer" class="noClick"></div>
        <img src="images/parts/elements/back1.png" class="backIcon noClick" id="back1">
        <img src="images/parts/elements/back2.png" class="backIcon noClick" id="back2">
        <img src="images/parts/elements/back3.png" class="backIcon noClick" id="back3">
        <img src="images/parts/elements/back4.png" class="backIcon noClick" id="back4">
        <img src="images/parts/elements/back5.png" class="backIcon noClick" id="back5">
        <img src="https://img.icons8.com/metro/52/000000/chevron-left.png" class="icon clickable" onclick="menuLeft()">
        <div id="menuMain" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/cursor.png" class="mainIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('play_title') %></span>
            <span class="light menuSubtitle"><%= __('play_subtitle') %></span>
        </div>
        <div id="menuEditor" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/editor.svg" class="shadowIcon" id="editorIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('editor_title') %></span>
            <span class="light menuSubtitle"><%= __('editor_subtitle') %></span>
        </div>
        <div id="menuAdvanced" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/graphicIcons/heart.png" class="shadowIcon" id="titleAdvancedIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('advanced_title') %></span>
            <span class="light menuSubtitle"><%= __('advanced_subtitle') %></span>
        </div>
        <img src="https://img.icons8.com/metro/52/000000/chevron-right.png" class="icon clickable" onclick="menuRight()">
    </div>
    <div id="selectContainer" class="containers">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <span>this is select section, welcome!</span>
    </div>
    <div id="advancedContainer" class="containers">
        <div id="advancedPurchasing">
            <span><%= __('purchasing_1') %><br><%= __('purchasing_2') %></span>
        </div>
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <h1 id="advancedTitle"><strong>URLATE</strong> ADVANCED</h1>
        <p class="advancedDescription"><%= __('advanced_description_1') %><br><%= __('advanced_description_2') %><br><strong><%= __('advanced_description_3') %></strong></p>
        <p class="advancedSubtitle"><%= __('advanced_subtitle_1') %></p>
        <p class="advancedDescription"><%= __('advanced_description_4') %><br><%= __('advanced_description_5') %><br><%= __('advanced_description_6') %></p>
        <p class="advancedSubtitle"><span id="subtitleHighlight"><%= __('advanced_subtitle_2') %></span></p>
        <p class="advancedDescription"><%= __('advanced_description_7') %></p>
        <div id="advancedIconsContainer">
            <div id="advancedIconsInnerContainer">
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_1.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_1') %><br><%= __('advanced_wicon_description_2') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_2.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_3') %><br><%= __('advanced_wicon_description_4') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_3.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_5') %><br><%= __('advanced_wicon_description_6') %><br><span class="additionalDescription"><%= __('advanced_additional_description_1') %></span></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_4.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_7') %><br><%= __('advanced_wicon_description_8') %><br><span class="additionalDescription"><%= __('advanced_additional_description_2') %></span></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_5.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_9') %><br><%= __('advanced_wicon_description_10') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_6.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_11') %><br><%= __('advanced_wicon_description_12') %><br><%= __('advanced_wicon_description_13') %></span>
                </div>
                <div class="advancedIconWithDescription">
                    <img class="advancedIcon" src="images/parts/graphicIcons/advanced_icon_7.png">
                    <span class="advancedIconDescription"><%= __('advanced_wicon_description_14') %><br><%= __('advanced_wicon_description_15') %></span>
                </div>
            </div>
        </div>
        <p class="advancedSubtitle"><%= __('advanced_subtitle_3') %></p>
        <p class="advancedDescription"><%= __('advanced_description_8') %><br><strong><%= __('advanced_description_9') %></strong></p>
        <br>
        <input type="button" id="registerBtn" value="<%= __('register') %>" onclick="getAdvanced()">
    </div>
    <div id="infoContainer" class="containers">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <img src="images/logos/URLATE.png" id="infoLogo">
        <span id="license"><br><span id="licenseMain">URLATE is under the MIT license.</span>
            <br>
            Copyright notices for icons, songs, designs, resources, etc. included in the game are located at <a href="cdn.rhyga.me" target="_blank" class="link">cdn.rhyga.me</a>.
            <br>
            All copyrights of the resources included in URLATE are owned by Team Croissant and, apart from the MIT license, use without permission may result in legal liability.
        </span>
        <div id="infoLineContainer"><div id="infoLine"></div></div>
        <img src="images/logos/croissant.png" id="croissantLogo">
    </div>
    <div id="visualizer"><canvas id="renderer"></canvas></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var settings = [];
        const cdn = "<%= cdn %>";
        const url = "<%= url %>";
        const api = "<%= api %>";
        const registered = "<%= __('registered') %>";
    </script>
    <script src="js/game.js"></script>
</body>
</html>