<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/game.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">
  <link rel="icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <script src="pace/pace.js"></script>
  <title>MyRhy Client</title>
</head>
<body onresize="isTooSmall()">
  <div id="sorry" style="height: 100vh; width: 100vw; position: fixed; background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(245,245,245,1) 100%); z-index: 110; display: flex; align-items: center; flex-direction: column; visibility: hidden;">
    <i class="material-icons" style="font-size: 6em;">warning</i>
    <h2 style="text-align: center; width: 100vw;">브라우저의 크기가 너무 작거나<br>(1300px*700px 미만)<br>InternetExplorer를 사용중일경우<br>MyRhy 플레이가 어렵습니다.</h2>
    <h3 style="text-align: center; width: 100vw;">브라우저 배율을 125% 이상으로 설정하지 않았는지, 창이 너무 작지는 않은지 확인해주세요.</h3>
    <h5 style="text-align: center; width: 100vw;">MyRhy의 최대 지원 해상도는 21:9입니다.</h5>
  </div>
  <div id="loading" class="flexbox">
    <img src="photos/myrhyLogo_blue.png" id="logo">
  </div>
  <div id="info" style="z-index: 200; position: fixed; width: 100vw; height: 100vh; background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(245,245,245,1) 100%); display: none;">
    <div style="height: 3.3em; position: fixed; width: 100vw;">
      <span style="position: fixed; left: 1.4em; top: 0.5em; font-size: 2em; font-weight: 300;">Info</span>
      <i class="material-icons" style="position: fixed; top: 1.3em; right: 1.3em; cursor: pointer;" onclick="infoOff()">close</i>
    </div>
    <div id="infoContent" style="width: 100vw; height: 100vh; display: flex; align-items: center; flex-direction: column; overflow-y: scroll;">
      <h2 style="margin-top: 3em;">Develop</h2>
      <img src="photos/profilePhotos/credible.jpg" alt="CreDible" class="profileImg">
      <span class="profileName">CreDible</span>
      <span class="profileDescription">개발조무사</span>
      <h2>Design</h2>
      <img src="photos/profilePhotos/altadex.jpg" alt="AltaDex" class="profileImg" onClick="alert('Alta GOD')">
      <span class="profileName" onClick="alert('Alta GOD')">AlTaDex</span>
      <span class="profileDescription" onClick="alert('Alta GOD')">본인 인증 바보</span>
      <h2>Support&Feedback</h2>
      <img src="photos/profilePhotos/greenstar.jpg" alt="GreenStar" class="profileImg">
      <span class="profileName">Greenstar</span>
      <span class="profileDescription">Greenstar Studio.</span>
      <img src="photos/profilePhotos/frogit.png" alt="FrogIT" class="profileImg">
      <span class="profileName">FrogIT</span>
      <span class="profileDescription">지나가는 블로거</span>
      <img src="photos/profilePhotos/ranol_.png" alt="Ranol_" class="profileImg">
      <span class="profileName">Ranol_</span>
      <span class="profileDescription">Laziest & Foolest Developer</span>
      <h2>Tester&Partner</h2>
      <img src="photos/profilePhotos/lightqp.jpg" alt="하늘빛QP" class="profileImg">
      <span class="profileName">하늘빛QP</span>
      <span class="profileDescription">랭킹 1위가 되고 싶어요</span>
      <img src="photos/profilePhotos/goldenapple.png" alt="goldenApple" class="profileImg">
      <span class="profileName">황금사과 (이수민)</span>
      <span class="profileDescription">안녕하세요, 잉여스러운 게이머 황금사과입니다.<br>게이머답게 게임도 하고 영상편집도 하고 컴덕후입니다 :D</span>
      <img src="photos/profilePhotos/SHD-P.png" alt="SHD_Sancheon" class="profileImg">
      <span class="profileName">SHD_Sancheon</span>
      <span class="profileDescription">(광고)<a href="https://Sancheon.xyz" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #2196F3;">Sancheon.xyz</a></span>
      <div style="height: 1em;">&nbsp;</div>
    </div>
  </div>
  <div id="settings" style="z-index: 200; position: fixed; width: 100vw; height: 100vh; background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(245,245,245,1) 100%); display: none;">
    <div style="height: 3.3em; position: fixed; width: 100vw;">
      <span style="position: fixed; left: 1.4em; top: 0.5em; font-size: 2em; font-weight: 300;">Settings</span>
      <i class="material-icons" style="position: fixed; top: 1.3em; right: 1.3em; cursor: pointer;" onclick="settingsOff()">close</i>
    </div>
  </div>
  <span id="fps"><span>FPS</span><span id="fpsValue" style="font-size: 20px;"></span></span>
  <span id="ping"><span>ping</span><span id="pingValue" style="font-size: 20px;"></span></span>
  <div id="main">
    <div style="position: fixed; display: flex; width: 100vw; height: 100vh; align-items: center; justify-content: center;">
      <div align="center" style="display: flex; align-items: center; justify-content: center; height: 50vh; width: 100vw;">
        <div style="position: fixed; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" id="top-padding-icon" style="font-size: 3em; z-index: 20; cursor: pointer;" onclick="prevIco()">keyboard_arrow_left</i>
          <div style="width: 200px;"></div>
          <i class="material-icons" id="top-padding-icon" style="font-size: 3em; z-index: 20; cursor: pointer;" onclick="nextIco()">keyboard_arrow_right</i>
        </div>
        <div id="editor" onclick="alert('준비중입니다.')" style="z-index: 10; cursor: pointer; display: none;">
          <img src="photos/gameImages/MY RHY_MAIN_EDITOR_ICON.svg" style="width: 150px; -webkit-filter: drop-shadow( 0px 1px 3px rgba(0,0,0,0.2) ); filter: drop-shadow( 0px 1px 3px rgba(0,0,0,0.2) ); margin-left: -15px;">
          <div class="iconHorizontalLine"></div>
          <p style="font-size: 30px; font-weight: 500; letter-spacing: -1px; margin: 0px; margin-bottom: -2px;">에디터</p>
          <span style="font-size: 20px; font-weight: 100;">EDITOR</span>
        </div>
        <div id="startGame" onclick="startGame()" style="z-index: 10; cursor: pointer;">
          <img src="photos/gameImages/DotCursor.png" style="width: 100px;">
          <div class="iconHorizontalLine"></div>
          <p style="font-size: 30px; font-weight: 500; letter-spacing: -1px; margin: 0px; margin-bottom: -2px;">플레이</p>
          <span style="font-size: 20px; font-weight: 100;">PLAY</span>
        </div>
        <div id="ranking" onclick="alert('준비중입니다.')" style="z-index: 10; cursor: pointer; display: none;">
          <img src="photos/gameImages/DotCursor.png" style="width: 100px;">
          <div class="iconHorizontalLine"></div>
          <p style="font-size: 30px; font-weight: 500; letter-spacing: -1px; margin: 0px; margin-bottom: -2px;">랭킹</p>
          <span style="font-size: 20px; font-weight: 100;">RANKING</span>
        </div>
      </div>
    </div>
    <span class="bottomLeftText">
      <i class="material-icons" style="position: fixed; font-size: 2rem; bottom: 35px;">music_note</i>
      <span id="nowPlaying"></span>
    </span>
    <div class="verticalLine" id="topLeftLine"></div>
    <span class="topLeftText"><%= nickName %></span>
    <div id="rightTopIcons">
      <i class="material-icons" id="top-padding-icon" style="cursor: pointer; font-size: 27px !important;" onclick="info()">info_outline</i>
      <div class="rightVerticalLine"></div>
      <span>&nbsp;</span>
      <img src="photos/icons/outline-settings.svg" alt="Settings" id="setIco" style="cursor: pointer; width: 27px;" onclick="settings()">
    </div>
    <img src="photos/myrhyLogo_blue.png" id="bottomLogo">
  </div>
  <div id="selSong">
    <img src="photos/tempImages/esc.png" alt="< Esc" id="esc" onclick="keyPressed({code: 'esc'})">
    <div style="position: fixed; top: 30px; left: 2vw; z-index: 10;">
      <div style="height: 6vh;">
        <img src="photos/tempImages/tracks.png" id="tracksIcon" style="width: 11vw; transition-duration: 0.5s;">
        <img src="photos/icons/round-arrow_drop_down-24px.svg" id="dropDownArrow" onclick="modeDropDown()">
      </div>
      <div>
        <div id="mode">
          <span>Complex</span>
        </div>
        <div id="subMode">
          <span style="font-size: 0.7vw; color: white; margin-top: 10px; cursor: pointer;">Harder</span>
          <br>
          <span style="font-size: 0.7vw; color: white; margin-top: 10px; cursor: pointer;">Click</span>
        </div>
      </div>
    </div>
    <div id="background_darker"></div>
    <svg style="position: fixed; top: 0; left: 15vw; height: 4.5vw; width: 4.5vw;">
      <line x1="0%" y1="100%" x2="100%" y2="0%" style="stroke: rgb(20, 20, 20); stroke-width: 3px;" />
    </svg>
    <div style="position: fixed; top: 30px; left: 19vw; height: 6vh; display: flex; align-items: center;">
      <div style="width: 100%;">
        <span style="font-size: 1.2vw; width: 100%; font-weight: 500;">모든 곡</span>
        <div style="margin-bottom: -2px;"></div>
        <span style="font-size: 0.8vw; width: 100%; font-weight: lighter;">All Songs</span>
      </div>
    </div>
    <div style="height: 72vh; width: 30vw; margin-top: 18vh; margin-left: 2vw;">
      <div style="text-align: center; display: flex; align-items: center;">
        <img src="photos/tempImages/list.png" alt="LIST" style="height: 2.5vh;">
        <!--<span class="selected category">최신순</span>
        <span class="category">추천순</span>
        <span class="category">플레이순</span>
        <span class="category">난이도순</span>-->
      </div>
      <div id="songListContainer" class="simpleScrollBar">
      </div>
    </div>
    <div style="position: fixed; height: 72vh; width: 30vw; top: 18vh; left: 34vw;">
      <div style="padding-left: 5vw;">
        <div style="text-align: center; display: flex; align-items: center;">
          <img src="photos/tempImages/info.png" alt="INFO" style="height: 2.5vh;">
        </div>
        <img id="albumArt" src="photos/albumArt/imsi.png" alt="AlbumArt" style="margin-top: 22px; width: 20vw; border-radius: 5px;">
        <br>
        <span style="font-weight: 200; font-size: 17px;">LEVEL&nbsp;&nbsp;</span>
        <span id="level" style="font-weight: bold; font-size: 17px;">불러오는 중..</span>
      </div>
    </div>
    <div style="position: fixed; height: 72vh; width: 30vw; top: 18vh; left: 66vw;">
      <div style="height: 5vh;">
        <img src="photos/tempImages/record.png" alt="RECORD" style="height: 2.5vh;">
      </div>
      <div style="width: 100%;">
        <div style="width: 45%; float: left;">
          <img id="rankImage" src="photos/tempImages/rank_U.png" style="width: 12vw;">
        </div>
        <div style="width: 55%; float: left; padding-top: 3em;">
          <span style="font-weight: 600; font-size: 1.2vw; font-family: 'Noto Sans KR';">SCORE</span>
          <span id="userScoreText" style="font-weight: 300; font-size: 2vw; margin-left: 3px; font-family: 'Noto Sans KR';">00000000</span>
          <div style="margin-bottom: -15px;"></div>
          <span style="font-weight: 600; font-size: 1.2vw; font-family: 'Noto Sans KR';">COMBO</span>
          <span id="userComboText" style="font-weight: 300; font-size: 2vw; margin-left: 3px; font-family: 'Noto Sans KR';">x0</span>
          <!--<hr style="border-style: inset; border-width: 1px; width: 40%; border-color: rgb(200, 200, 200); margin-left: 1px; margin-bottom: 0px;">-->
          <div style="margin-bottom: 15px;"></div>
          <span id="userRankText" style="font-weight: 500; font-size: 3vw; color: rgb(50, 50, 50);">#0</span>
        </div>
      </div>
    </div>
    <div id="rightTopIcons">
      <i class="material-icons" id="top-padding-icon" style="cursor: pointer; font-size: 27px !important;" onclick="info()">info_outline</i>
      <div class="rightVerticalLine"></div>
      <span>&nbsp;</span>
      <img src="photos/icons/outline-settings.svg" alt="Settings" id="setIco" style="cursor: pointer; width: 27px;" onclick="settings()">
    </div>
  </div>
  <div id="confirm">
    <img src="photos/tempImages/esc.png" alt="< Esc" id="esc" onclick="keyPressed({code: 'esc'})">
    <span onclick="testLevel()">press here to change level</span>
    <br>
    <span onclick="testConfirm()">press here to confirm</span>
    <br>
    <span id="testLevel">Level here</span>
  </div>
  <div id="chat">
    <div id="chatTitleContainer">
      <span id="chatTitle">Chat</span>
      <i class="material-icons" style="position: fixed; right: 1.3em; cursor: pointer;" onclick="chatCheck()">close</i>
    </div>
    <div id="messageContainer">
      <ul id="messageLists"></ul>
    </div>
    <div id="messageFormContainer">
      <form action="" id="messageForm">
        <input id="messageField" placeholder="메시지를 입력 후 엔터를 누르세요" autocomplete="off" />
      </form>
    </div>
  </div>
  <div id="fadeOut"></div>
  <span class="bottomCenterText"><span style="font-weight: 600; letter-spacing: -1px;">MyRhy</span> Experimental</span>
  <span id="copyright" class="bottomRightText">&copy; 2019. <b>MyRhy</b>, all rights reserved.<br>For more information, please click <a href="/copyright" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #2196F3;">here</a>.</span>
  <script src="howler/dist/howler.js"></script>
  <div id="script" style="display: none;">
    <% if(nickName) { %>
      <script>
      var agent = navigator.userAgent.toLowerCase();
      if ((navigator.appName == 'Netscape' && agent.indexOf('trident') != -1) || (agent.indexOf("msie") != -1)) {
        document.getElementById("sorry").style.visibility = "visible";
      }
      </script>
      <script>
        var nickName = '<%= nickName %>';
        var recId = '<%= recId %>';
        if('<%= record %>' != '') {
          var record = JSON.parse('<%= record %>'.replace(/&#34;/g, '"'));
        }
      </script>
    <% } %>
  </div>
  <script src="https://awesomegame.kro.kr:3000/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="js/game.js"></script>
</body>
</html>
