<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <meta charset="UTF-8">
    <title>MyRhy Client</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="shortcut icon" href="images/parts/favicon.ico">
    <script src="js/pace.js"></script>
</head>
<body>
    <div id="footer">
        <div id="footerLeft">
            <img src="images/parts/returnIcon.png" class="icon">
            <span class="medium">&nbsp;&nbsp;Enter or Click to <strong>Select</strong></span>
        </div>
        <div id="footerCenter">
            <strong id="songName"><img src="images/parts/note.png" id="noteIcon"><span>&nbsp;SongName</span></strong>
            <span class="light" id="myrhyText"><strong>MyRhy</strong> Experimental</span>
        </div>
        <div id="footerRight">
            <span><span class="medium"><%= __('more_info_1') %><a href="/copyrights" target="_blank" rel="noopener noreferrer" class="link"><%= __('more_info_here') %></a><%= __('more_info_2') %></span><br>&copy; 2020 <strong>MyRhy</strong>, All contents cannot be copied without permission.</span>
        </div>
    </div>
    <div id="loadingContainer">
        <img src="images/myrhyLogo_blue.png" id="logo">
    </div>
    <div id="header">
        <div id="headerLeft">
            <span id="name" class="light"><%=name %></span>
        </div>
        <div id="headerRight">
            <img src="https://img.icons8.com/windows/64/000000/info.png" class="icon clickable" onclick="infoScreen()">
            <div id="line"></div>
            <img src="https://img.icons8.com/windows/64/000000/settings.png" class="icon clickable">
        </div>
    </div>
    <div id="menuContainer">
        <img src="https://img.icons8.com/metro/52/000000/chevron-left.png" class="icon clickable" onclick="menuLeft()">
        <div id="menuMain" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/DotCursor.png" class="mainIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('play_title') %></span>
            <span class="light menuSubtitle"><%= __('play_subtitle') %></span>
        </div>
        <div id="menuEditor" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/MY RHY_MAIN_EDITOR_ICON.svg" class="shadowIcon" id="editorIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('editor_title') %></span>
            <span class="light menuSubtitle"><%= __('editor_subtitle') %></span>
        </div>
        <div id="menuAdvanced" class="menuSelector clickable" onclick="menuSelected()">
            <img src="images/parts/heart.png" class="shadowIcon" id="titleAdvancedIcon">
            <div id="Hline"></div>
            <span class="menuTitle"><%= __('advanced_title') %></span>
            <span class="light menuSubtitle"><%= __('advanced_subtitle') %></span>
        </div>
        <img src="https://img.icons8.com/metro/52/000000/chevron-right.png" class="icon clickable" onclick="menuRight()">
    </div>
    <div id="selectContainer">
        <span>this is select section, welcome!</span>
    </div>
    <div id="advancedContainer" class="containers">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <img src="images/parts/advancedLogo.png" id="advancedIcon">
        <br>
        <span class="medium" id="advancedDescription"><%= __('advanced_description1') %><br><%= __('advanced_description2') %><br><span class="gray"><%= __('advanced_description3') %></span></span>
        <br>
        <h2 class="advancedSubtitle" id="advancedSupport"><%= __('advanced_support') %></h2>
        <p id="supportDetails"><%= __('advanced_supportDetails1') %><br><%= __('advanced_supportDetails2') %><br><%= __('advanced_supportDetails3') %></p>
        <br>
        <h2 class="advancedSubtitle" id="advancedDetails"><%= __('advanced_details') %></h2>
        <div id="tableContainer">
            <table>
                <tr id="tableHeader">
                  <th>PURE</th>
                  <th>ADVANCED</th>
                </tr>
                <tr>
                    <td><p class="advancedDetails"><%= __('advanced_details6') %></p></td>
                    <td><p class="advancedDetails"><%= __('advanced_details1') %></p></td>
                </tr>
                <tr>
                    <td><p class="advancedDetails"><%= __('advanced_details7') %></p></td>
                    <td><p class="advancedDetails"><%= __('advanced_details2') %></p></td>
                </tr>
                <tr>
                    <td><p class="advancedDetails"><%= __('advanced_details8') %></p></td>
                    <td><p class="advancedDetails"><%= __('advanced_details3') %></p></td>
                </tr>
                <tr>
                    <td><p class="advancedDetails"><%= __('advanced_details9') %></p></td>
                    <td><p class="advancedDetails"><%= __('advanced_details4') %></p></td>
                </tr>
                <tr>
                    <td><p class="advancedDetails"><%= __('advanced_details10') %></p></td>
                    <td><p class="advancedDetails"><%= __('advanced_details5') %></p></td>
                </tr>
              </table>
        </div>
        <input type="button" value="<%= __('support') %>" onclick="supportPurchase()" id="supportButton">
    </div>
    <div id="infoContainer" class="containers">
        <img src="https://img.icons8.com/windows/32/000000/macos-close.png" class="icon clickable closeBtn" onclick="displayClose()">
        <img src="images/temp/croissant.png" id="croissantLogo">
        <h1 id="infoTitle"><span class="light">Produced by </span>Team Croissant</h1>
    </div>
    <script>
        var settings = JSON.parse('<%-settings %>');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/game.js"></script>
</body>
</html>