<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="MyRhy">
    <meta property="og:site_name" content="MyRhy">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:description" content="Avoid & Get on the tempo, MyRhy">
    <meta property="og:image" content="images/mainImage.png">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/index.css">
    <script>
        function start() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    client_id: '300804215392-fcv3uph5mscb39av0c4kk65gq8oupqrq.apps.googleusercontent.com'
                });
            });
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 150,
                'height': 40,
                'longtitle': false,
                'theme': 'Light'
            });
        }
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <title>MyRhy</title>
</head>
<body>
    <div id="logoContainer">
        <img src="images/logos/myrhy_blue.png" id="logo" alt="<%= __('index_logoAlt') %>">
        <% if(__('lang') == 'en') { %>
            <a href="/ko" class="bottomLang">English(영어)</a>
        <% } else { %>
            <a href="/en" class="bottomLang">한국어(Korean)</a>
        <% } %>
    </div>
    <div id="buttonContainer">
        <div id="my-signin2" onclick="loginTrigger()"></div>
    </div>
    <div id="footer">
        <a href="<%= communityUrl %>" class="link"><%= __('community') %></a>
        <a href="<%= miraiUrl %>" class="link"><%= __('mirai') %></a>
        <a href="https://twitter.com/MyrhyOfficial" class="link"><%= __('twitter') %></a>
        <a href="/info" class="link"><%= __('info') %></a>
    </div>
    <script>
        const projectUrl = "<%= url %>";
        const api = "<%= api %>";
        const loginFailed = "<%= __('login_failed') %>";
        const loginError = "<%= __('login_error') %>";
    </script>
    <script src="js/index.js"></script>
</body>
</html>