<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177236027-1');
    </script>
    <meta charset="UTF-8">
    <meta property="og:title" content="URLATE">
    <meta property="og:site_name" content="URLATE">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:description" content="Avoid & Get on the tempo, URLATE">
    <meta property="og:image" content="images/mainImage.png">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/index.css">
    <script>
        function start() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    client_id: '300804215392-fcv3uph5mscb39av0c4kk65gq8oupqrq.apps.googleusercontent.com'
                });
            });
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 150,
                'height': 40,
                'longtitle': false,
                'theme': 'Light'
            });
        }
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <title>URLATE</title>
</head>
<body>
    <div id="fullscreenRequired">
        <%= __('fullscreen_1') %><kbd>F11</kbd><%= __('fullscreen_2') %>
    </div>
    <div id="animContainer" class="widthAnim"></div>
    <div id="logoContainer">
        <img src="images/logos/URLATE_WHITE.png" id="logo" alt="<%= __('index_logoAlt') %>">
        <% if(__('lang') == 'en') { %>
            <a href="/ko" class="bottomLang">English(영어)</a>
        <% } else { %>
            <a href="/en" class="bottomLang">한국어(Korean)</a>
        <% } %>
    </div>
    <div id="buttonContainer">
        <div id="my-signin2" onclick="loginTrigger()"></div>
    </div>
    <span id="footerLeft">
        통신판매업신고번호: 2021-제주조천-0014<br>
        사업장주소: 게임 내에서 확인 가능<br>
        팀 크루아상│사업자등록번호: 330-10-22439 <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=3101022439" target="_blank" class="link">사업자등록번호 조회</a><br>
        E-mail: coupy@croissant.tech│대표: 강혁진│전화번호: 070-8098-6424│FAX: 070-7966-3277
    </span>
    <span id="footerRight">
        <strong>© 2021 URLATE</strong>, All contents cannot be copied without permission.
    </span>
    <script>
        const projectUrl = "<%= url %>";
        const api = "<%= api %>";
        const loginFailed = "<%= __('login_failed') %>";
        const loginError = "<%= __('login_error') %>";
        const lang = "<%= __('lang') %>";
        if(lang == "en") document.body.style.letterSpacing = "-0.3px";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.5/lottie.js"></script>
    <script src="js/index.js"></script>
</body>
</html>