<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177236027-1');
    </script>
    <meta charset="UTF-8">
    <meta property="og:title" content="URLATE">
    <meta property="og:site_name" content="URLATE">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:description" content="Avoid & Get on the tempo, URLATE">
    <meta property="og:image" content="/images/mainImage.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <script>
        function start() {
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                    client_id: '300804215392-fcv3uph5mscb39av0c4kk65gq8oupqrq.apps.googleusercontent.com'
                });
            });
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 150,
                'height': 40,
                'longtitle': false,
                'theme': 'Light'
            });
        }
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <title>URLATE</title>
</head>
<body oncontextmenu='return false'>
    <div id="fullscreenRequired">
        <%= __('fullscreen_1') %><kbd>F11</kbd><%= __('fullscreen_2') %>
        <span id="fullscreenText" onclick="fullscreenDisable()"><%= __('let_me_in') %></span>
    </div>
    <div id="animContainer" class="widthAnim"></div>
    <div id="logoContainer">
        <img src="/images/logos/URLATE_WHITE.png" id="logo" alt="<%= __('index_logoAlt') %>">
        <strong>
        <% if(__('lang') == 'en') { %>
            <a href="/ko" class="bottomLang">English(영어)</a>
        <% } else { %>
            <a href="/en" class="bottomLang">한국어(Korean)</a>
        <% } %>
        </strong>
    </div>
    <div id="buttonContainer">
        <div id="my-signin2" onclick="loginTrigger()"></div>
        <div id="policies">
            <% if(__('lang') == 'en') { %>
                <a href="/en/privacyPolicy" class="bottomPolicy">Privacy Policy</a>
                <a href="/en/termsOfService" class="bottomPolicy">Terms Of Service</a>
            <% } else { %>
                <a href="/ko/privacyPolicy" class="bottomPolicy">개인정보처리방침</a>
                <a href="/ko/termsOfService" class="bottomPolicy">이용약관</a>
            <% } %>
        </div>
        <a href="/acc" class="bottomPolicy" style="z-index: 1;">관리자 계정 로그인</a>
    </div>
    <span id="footerLeft">
        <b>통신판매업신고번호</b>: 2021-제주조천-0014<br>
        <b>팀 크루아상</b> | <b>사업자등록번호</b>: <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=3101022439" class="link" onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;">310-10-22439</a><br>
        <b>사업장주소</b>: 제주특별자치도 제주시 조천읍 신촌8길1 편안채1층 102호<br>
        <b>E-mail</b>: coupy@croissant.tech | <b>대표</b>: 강혁진 | <b>전화번호</b>: 070-4505-6424 | <b>FAX</b>: 070-7966-3277
    </span>
    <div id="footerRight">
        <div id="allContainer">
            <span><b>등급분류 일자</b>: 2021. 08. 06<br></span>
            <span><b>제명</b>: URLATE (얼레이트) | <b>상호</b>: 팀 크루아상<br></span>
            <span><b>이용등급</b>: 전체이용가 | <b>등급분류번호</b>: <a href="https://www.grac.or.kr/Statistics/Popup/Pop_StatisticsDetails.aspx?bfe594b3906a6fc21ebfb5982f7132cda6c813a6a053e8e5ec12581d53453bb0" class="link" onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;">제 GC-CC-NP-210806-002 호</a><br></span>
            <span><b>제작 · 배급업신고번호</b>: 제주시청 제 2021-000001 호 · 제주시청 제 2021-000003 호</span>
        </div>
        <img src="/images/logos/all.png" id="allImage">
    </div>
    <script>
        const projectUrl = "<%= url %>";
        const api = "<%= api %>";
        const loginFailed = "<%= __('login_failed') %>";
        const loginError = "<%= __('login_error') %>";
        const shutdownAlert = "<%= __('shutdowned_alert') %>";
        const lang = "<%= __('lang') %>";
        if(lang == "en") document.body.style.letterSpacing = "-0.3px";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.5/lottie.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>